@using PineappleSite.Presentation.Extecsions
@using PineappleSite.Presentation.Services.Identities
@using PineappleSite.Presentation.Utility
@model PineappleSite.Presentation.Models.Users.CreateUserViewModel

@{
    ViewData["Title"] = Localizer["Add user"];
}

<form class="container col-7" asp-action="Create">
    <br/>
    <div class="container border p-3 card shadow border-4 mt-3 mb-md-4">
        <div class="card-header bg-secondary bg-gradient ml-0 py-3">
            <div class="row">
                <div class="col-12 text-center">
                    <h1 class="text-white">@Localizer["Add user"]</h1>
                </div>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="row">
                <div class="col-6">
                    <label class="control-label pt-2" style="font-size:20px;">@Localizer["Name"]</label>
                </div>
                <div class="col-6 pb-3">
                    <input class="form-control" asp-for="FirstName"/>
                    <span class="text-danger" asp-validation-for="FirstName"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <label class="control-label pt-2" style="font-size:20px;">@Localizer["LastName"]</label>
                </div>
                <div class="col-6 pb-3">
                    <input class="form-control" asp-for="LastName"/>
                    <span class="text-danger" asp-validation-for="LastName"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <label class="control-label pt-2" style="font-size:20px;">@Localizer["EmailAddress"]</label>
                </div>
                <div class="col-6 pb-3">
                    <input class="form-control" asp-for="EmailAddress"/>
                    <span class="text-danger" asp-validation-for="EmailAddress"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <label class="control-label pt-2" style="font-size:20px;">@Localizer["UserName"]</label>
                </div>
                <div class="col-6 pb-3">
                    <input class="form-control" asp-for="UserName"/>
                    <span class="text-danger" asp-validation-for="UserName"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <label class="control-label pt-2" style="font-size:20px;" asp-for="Password">@Localizer["Password"]</label>
                </div>
                <div class="col-6 pb-3">
                    <div class="input-group">
                        <input asp-for="Password" type="password" class="form-control"/>
                        <div class="input-group-append">
                            <button type="button" class="btn btn-secondary" id="togglePassword">
                                <i class="fa fa-eye"></i> @Localizer["Show"]
                            </button>
                        </div>
                    </div>
                </div>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-6">
                    <label class="control-label pt-2" style="font-size: 20px;">@Localizer["Role"]</label>
                </div>
                <div class="col-6 pb-3">
                    <select asp-for="Roles" asp-items="Html.GetEnumSelectList<StaticDetails.UserRoles>()" class="form-control"></select>
                    <span asp-validation-for="Roles" class="text-danger"></span>
                </div>
            </div>
            <div class="col-5 offset-1">
                <a class="btn-primary btn form-control" asp-action="Index">@Localizer["Go back"]</a>
            </div>
            <div class="col-5">
                <input type="submit" value="@Localizer["Add user"]" class="btn btn-success form-control"/>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/js/users/createUser.js" asp-append-version="true"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('input').on('input', function () {
            $(this).val($(this).val().replace(/^\s+/, ''));
        });
    });
</script>