@model PineappleSite.Presentation.Models.Users.UserWithRolesViewModel

@{
    ViewData["Title"] = Localizer["User details"];
}

<form class="container col-7" asp-action="Details">
    <br />
    <div class="container border p-3 card shadow border-4 mt-3 mb-md-4">
        <div class="card-header bg-secondary bg-gradient ml-0 py-3">
            <div class="row">
                <div class="col-12 text-center">
                    <h1 class="text-white">@Localizer["User details"]</h1>
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="row">
                <div class="col-6">
                    <label class="control-label pt-2" style="font-size:20px;" hidden>@Localizer["Id"]</label>
                </div>
                <div class="col-6 pb-3">
                    <input class="form-control" asp-for="User.Id" readonly hidden />
                    <span class="text-danger" asp-validation-for="User.Id" hidden></span>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <label class="control-label pt-2" style="font-size:20px;">@Localizer["FirstName"]</label>
                </div>
                <div class="col-6 pb-3">
                    <input class="form-control" asp-for="User.FirstName" readonly />
                    <span class="text-danger" asp-validation-for="User.LastName"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <label class="control-label pt-2" style="font-size:20px;">@Localizer["LastName"]</label>
                </div>
                <div class="col-6 pb-3">
                    <input class="form-control" asp-for="User.LastName" readonly />
                    <span class="text-danger" asp-validation-for="User.LastName"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <label class="control-label pt-2" style="font-size:20px;">@Localizer["EmailAddress"]</label>
                </div>
                <div class="col-6 pb-3">
                    <input class="form-control" asp-for="User.Email" readonly />
                    <span class="text-danger" asp-validation-for="User.Email"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <label class="control-label pt-2" style="font-size:20px;">@Localizer["UserName"]</label>
                </div>
                <div class="col-6 pb-3">
                    <input class="form-control" asp-for="User.UserName" readonly />
                    <span class="text-danger" asp-validation-for="User.UserName"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <label class="control-label pt-2" style="font-size:20px;">@Localizer["Role"]</label>
                </div>
                <div class="col-6 pb-3">
                    @{
                        foreach (var role in Model.Roles)
                        {
                            <input class="form-control" asp-for="@role" readonly />
                        }
                    }
                    <span class="text-danger" asp-validation-for="Roles"></span>
                </div>
            </div>
            <div class="col-5 offset-3">
                <a class="btn-primary btn form-control" asp-action="Index">@Localizer["Go back"]</a>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}