@model PineappleSite.Presentation.Models.Paginated.PaginatedList<PineappleSite.Presentation.Models.Users.GetUsersProfileViewModel>

@{
    ViewData["Title"] = Localizer["List of users"];
    <link rel="stylesheet" href="~/css/users/userList.css" asp-append-version="true"/>
}

<style>
    .table {
        margin: 0 auto;
        width: 90%;
    }

    .some-format {
        padding: 10px;
        text-align: center;
        vertical-align: middle;
    }
</style>

<form asp-action="GetUsersProfile" method="get">
    <div class="form-actions no-color">
        <p class="mb-0">
            <label for="searchUser" style="font-size:20px; color:white">@Localizer["User Search"]</label>
        </p>
        <div class="input-group mb-3">
            <input type="text" class="form-control" name="searchUser" id="searchUser" value="@ViewData["SearchUser"]"/>
            <div class="input-group-append">
                <button type="submit" class="btn btn-primary search-button">@Localizer["Search"]</button>
                <button type="button" id="clearSearch" class="btn btn-secondary clear-button">@Localizer["Clear"]</button>
            </div>
        </div>
    </div>
</form>
<form>
    <div class="card shadow border-4 mt-3 mb-md-4">
        <div class="card-header bg-secondary bg-gradient ml-0 py-3">
            <div class="row">
                <div class="col-12 text-center">
                    <h1 class="text-white">@Localizer["Users Profiles"]</h1>
                </div>
            </div>
        </div>
        <div class="card-body p-4">
            <div class="row pb-3">
                <div class="col-6">
                </div>
                <div class="col-6 text-end">
                    <div class="col-12 form-text">
                    </div>
                </div>
            </div>
            <table class="table">
                <thead>
                <tr>
                    <th class="some-format">@Localizer["FirstName"]</th>
                    <th class="some-format">@Localizer["LastName"]</th>
                    <th class="some-format">@Localizer["UserName"]</th>
                    <th class="some-format">@Localizer["EmailAddress"]</th>
                    <th class="some-format">@Localizer["Age"]</th>
                    <th class="some-format">@Localizer["Description"]</th>
                    <th class="some-format">@Localizer["Role"]</th>
                    <th class="some-format">@Localizer["Profile Image"]</th>
                    <th class="some-format">@Localizer["Update"]</th>
                </tr>
                </thead>
                <tbody>
                @{
                    int itemCount = 0;
                }
                @{
                    foreach (var item in Model)
                    {
                        <tr>
                            <td class="some-format">@(item.FirstName != null ? (item.FirstName.Length > 10 ? item.FirstName[..10] + "..." : item.FirstName) : "")</td>
                            <td class="some-format">@(item.LastName != null ? (item.LastName.Length > 10 ? item.LastName[..10] + "..." : item.LastName) : "")</td>
                            <td class="some-format">@(item.UserName != null ? (item.UserName.Length > 10 ? item.UserName[..10] + "..." : item.UserName) : "")</td>
                            <td class="some-format">@item.EmailAddress</td>
                            <td class="some-format">@item.Age</td>
                            <td class="some-format">@(item.Description != null ? (item.Description.Length > 10 ? item.Description[..10] + "..." : item.Description) : "")</td>
                            <td class="some-format">
                                @{
                                    foreach (var role in item.Role)
                                    {
                                        @role
                                    }
                                }
                            </td>
                            <td class="some-format">
                                <img src="@item.ImageUrl" loading="lazy" style="width: 100px; height: 100px; object-fit: cover; display: block; margin: auto;" alt="@Localizer["User Imape"]"/>
                            </td>
                            <td class="some-format">
                                <a class="btn btn-sm btn-success" asp-action="ProfileForAdmin" asp-route-userId="@item.UserId">
                                    <svg width="20px" height="20px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M21.1213 2.70705C19.9497 1.53548 18.0503 1.53547 16.8787 2.70705L15.1989 4.38685L7.29289 12.2928C7.16473 12.421 7.07382 12.5816 7.02986 12.7574L6.02986 16.7574C5.94466 17.0982 6.04451 17.4587 6.29289 17.707C6.54127 17.9554 6.90176 18.0553 7.24254 17.9701L11.2425 16.9701C11.4184 16.9261 11.5789 16.8352 11.7071 16.707L19.5556 8.85857L21.2929 7.12126C22.4645 5.94969 22.4645 4.05019 21.2929 2.87862L21.1213 2.70705ZM18.2929 4.12126C18.6834 3.73074 19.3166 3.73074 19.7071 4.12126L19.8787 4.29283C20.2692 4.68336 20.2692 5.31653 19.8787 5.70705L18.8622 6.72357L17.3068 5.10738L18.2929 4.12126ZM15.8923 6.52185L17.4477 8.13804L10.4888 15.097L8.37437 15.6256L8.90296 13.5112L15.8923 6.52185ZM4 7.99994C4 7.44766 4.44772 6.99994 5 6.99994H10C10.5523 6.99994 11 6.55223 11 5.99994C11 5.44766 10.5523 4.99994 10 4.99994H5C3.34315 4.99994 2 6.34309 2 7.99994V18.9999C2 20.6568 3.34315 21.9999 5 21.9999H16C17.6569 21.9999 19 20.6568 19 18.9999V13.9999C19 13.4477 18.5523 12.9999 18 12.9999C17.4477 12.9999 17 13.4477 17 13.9999V18.9999C17 19.5522 16.5523 19.9999 16 19.9999H5C4.44772 19.9999 4 19.5522 4 18.9999V7.99994Z" fill="#000000"/>
                                    </svg>
                                </a>
                            </td>
                        </tr>
                        itemCount++;
                    }
                }
                </tbody>
            </table>
            <div class="pagination">
                @if (Model.HasPreviosPage)
                {
                    <a asp-action="Index"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]"
                       asp-route-searchUser="@ViewData["SearchUser"]"
                       asp-route-pageNumber="@(Model.PageIndex - 1)"
                       class="page-item">
                        <span>&laquo; @Localizer["Previous"]</span>
                    </a>
                }
                @if (Model.HasNextPage)
                {
                    <a asp-action="Index"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]"
                       asp-route-searchUser="@ViewData["SearchUser"]"
                       asp-route-pageNumber="@(Model.PageIndex + 1)"
                       class="page-item">
                        <span>@Localizer["Next"] &raquo;</span>
                    </a>
                }
            </div>
        </div>
    </div>
</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>
    document.getElementById("clearSearch").addEventListener("click", function () {
        document.getElementById("searchUser").value = "";
        window.location.href = "/User/GetUsersProfile";
    });
</script>