@using PineappleSite.Presentation.Models.Paginated
@model PaginatedList<PineappleSite.Presentation.Models.Users.UserWithRolesViewModel>

@{
    ViewData["Title"] = Localizer["List of users"];
    <link rel="stylesheet" href="~/css/users/userList.css" asp-append-version="true" />
}

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p class="mb-0">
            <label for="searchUser" style="font-size:20px; color:white">@Localizer["User Search:"]</label>
        </p>
        <div class="input-group mb-3">
            <input type="text" class="form-control" name="searchUser" id="searchUser" value="@ViewData["SearchUser"]" />
            <div class="input-group-append">
                <button type="submit" class="btn btn-primary search-button">@Localizer["Search"]</button>
                <button type="button" id="clearSearch" class="btn btn-secondary clear-button">@Localizer["Clear"]</button>
            </div>
        </div>
    </div>
</form>
<form id="deleteSelectedForm" asp-action="DeleteUserList" onsubmit="return confirm('@Localizer["Do you really want to delete these records?"]')" method="post">
    <div class="card shadow border-4 mt-3 mb-md-4">
        <div class="card-header bg-secondary bg-gradient ml-0 py-3">
            <div class="row">
                <div class="col-12 text-center">
                    <h1 class="text-white">@Localizer["Registered users"]</h1>
                </div>
            </div>
        </div>
        <div class="card-body p-4">
            <div class="row pb-3">
                <div class="col-6">
                </div>
                <div class="col-6 text-end">
                    <a asp-action="Create" class="btn btn-outline-primary"><i class="bi bi-plus-square"></i> @Localizer["Add a new user"]</a>
                    <br />  <br />
                    <button id="deleteAllButton" type="submit" class="btn btn-danger" style="display:none;" form="deleteSelectedForm">@Localizer["Delete selected ones"]</button>
                    <div class="col-12 form-text">
                    </div>
                </div>
            </div>
            <table class="table text-center">
                <thead>
                    <tr>
                        <th></th>
                        <th>@Localizer["FirstName"]</th>
                        <th>@Localizer["LastName"]</th>
                        <th>@Localizer["UserName"]</th>
                        <th>@Localizer["Role"]</th>
                        <th>@Localizer["Update"]</th>
                        <th>@Localizer["Delete"]</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int itemCount = 0;
                    }
                    @{
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <input type="checkbox" name="selectedUserIds" value="@item.User.Id" />
                                </td>
                                <td>@item.User.FirstName</td>
                                <td>@item.User.LastName</td>
                                <td>@item.User.UserName</td>
                                <td>
                                    @{
                                        foreach (var role in item.Roles)
                                        {
                                            @role
                                        }
                                    }
                                </td>
                                <td>
                                    <a class="btn btn-sm btn-success" asp-action="Edit" asp-route-id="@item.User.Id">
                                        <i class="bi bi-pencil-square"></i>
                                    </a>
                                </td>
                                <td>
                                    <button class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.User.Id">
                                        <i class="bi bi-trash">Удалить</i>
                                    </button>
                                </td>
                            </tr>
                            itemCount++;
                        }
                    }
                </tbody>
            </table>
            <div class="pagination">
                @if (Model.HasPreviosPage)
                {
                    <a asp-action="Index"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]"
                       asp-route-searchUser="@ViewData["SearchUser"]"
                       asp-route-pageNumber="@(Model.PageIndex - 1)"
                       class="page-item">
                        <span>&laquo; @Localizer["Previous"]</span>
                    </a>
                }
                @if (Model.HasNextPage)
                {
                    <a asp-action="Index"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]"
                       asp-route-searchUser="@ViewData["SearchUser"]"
                       asp-route-pageNumber="@(Model.PageIndex + 1)"
                       class="page-item">
                        <span>@Localizer["Next"] &raquo;</span>
                    </a>
                }
            </div>
        </div>
    </div>
</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="~/js/users/userList.js" asp-append-version="true"></script>