@using PineappleSite.Presentation.Models.Paginated
@model PaginatedList<PineappleSite.Presentation.Models.Users.GetUsersViewModel>

@{
    ViewData["Title"] = Localizer["List of users"];
    <link rel="stylesheet" href="~/css/users/userList.css" asp-append-version="true"/>
}

<style>
    .table {
        margin: 0 auto;
        width: 90%;
    }

    .some-format {
        padding: 10px;
        text-align: center;
        vertical-align: middle;
    }
</style>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p class="mb-0">
            <label for="searchUser" style="font-size:20px; color:white">@Localizer["User Search"]</label>
        </p>
        <div class="input-group mb-3">
            <input type="text" class="form-control" name="searchUser" id="searchUser" value="@ViewData["SearchUser"]"/>
            <div class="input-group-append">
                <button type="submit"
                        class="btn btn-primary search-button"
                        asp-route-pageNumber="@Context.Request.Query["pageNumber"]"
                        asp-route-searchUser="@Context.Request.Query["searchUser"]">
                    @Localizer["Search"]
                </button>
                <button type="button"
                        id="clearSearch"
                        class="btn btn-secondary clear-button"
                        asp-route-pageNumber="@Context.Request.Query["pageNumber"]"
                        asp-route-searchUser="@Context.Request.Query["searchUser"]">
                    @Localizer["Clear"]
                </button>
            </div>
        </div>
    </div>
</form>
<form id="deleteSelectedForm"
      asp-controller="User"
      asp-action="DeleteUserList"
      asp-route-pageNumber="@Context.Request.Query["pageNumber"]"
      asp-route-searchUser="@Context.Request.Query["searchUser"]"
      onsubmit="return confirm('@Localizer["Do you really want to delete these records?"]')" method="post">
    <div class="card shadow border-4 mt-3 mb-md-4">
        <div class="card-header bg-secondary bg-gradient ml-0 py-3">
            <div class="row">
                <div class="col-12 text-center">
                    <h1 class="text-white">@Localizer["Registered users"]</h1>
                </div>
            </div>
        </div>
        <div class="card-body p-4">
            <div class="row pb-3">
                <div class="col-6">
                </div>
                <div class="col-6 text-end">
                    <a asp-action="Create" class="btn btn-outline-primary"
                       asp-route-pageNumber="@Context.Request.Query["pageNumber"]"
                       asp-route-searchUser="@Context.Request.Query["searchUser"]">
                        <svg fill="#000000" width="20px" height="20px" viewBox="0 0 96 96" xmlns="http://www.w3.org/2000/svg">
                            <g>
                                <path d="M66,42H54V30a6,6,0,0,0-12,0V42H30a6,6,0,0,0,0,12H42V66a6,6,0,0,0,12,0V54H66a6,6,0,0,0,0-12Z"/>
                                <path d="M48,0A48,48,0,1,0,96,48,48.0512,48.0512,0,0,0,48,0Zm0,84A36,36,0,1,1,84,48,36.0393,36.0393,0,0,1,48,84Z"/>
                            </g>
                        </svg>
                        @Localizer["Add a new user"]
                    </a>
                    <br/> <br/>
                    <button id="deleteAllButton"
                            type="submit"
                            class="btn btn-danger"
                            style="display:none;"
                            form="deleteSelectedForm">
                        @Localizer["Delete selected ones"]
                    </button>
                    <div class="col-12 form-text">
                    </div>
                </div>
            </div>
            <table class="table">
                <thead>
                <tr>
                    <th class="some-format"></th>
                    <th class="some-format">@Localizer["FirstName"]</th>
                    <th class="some-format">@Localizer["LastName"]</th>
                    <th class="some-format">@Localizer["UserName"]</th>
                    <th class="some-format">@Localizer["Role"]</th>
                    <th class="some-format">@Localizer["Details"]</th>
                    <th class="some-format">@Localizer["Update"]</th>
                    <th class="some-format">@Localizer["Delete"]</th>
                </tr>
                </thead>
                <tbody>
                @{
                    int itemCount = 0;
                }
                @{
                    foreach (var item in Model)
                    {
                        <tr>
                            <td class="some-format">
                                <input type="checkbox" name="selectedUserIds" value="@item.UserId"/>
                            </td>
                            <td class="some-format">@(item.FirstName.Length > 10 ? item.FirstName[..10] + "..." : item.FirstName)</td>
                            <td class="some-format">@(item.LastName.Length > 10 ? item.LastName[..10] + "..." : item.LastName)</td>
                            <td class="some-format">@item.UserName</td>
                            <td class="some-format">
                                @{
                                    foreach (var role in item.Role)
                                    {
                                        @role
                                    }
                                }
                            </td>
                            <td class="some-format">
                                <a
                                    class="btn btn-sm btn-success"
                                    asp-action="Details"
                                    asp-route-userId="@item.UserId"
                                    asp-route-pageNumber="@Context.Request.Query["pageNumber"]"
                                    asp-route-searchUser="@Context.Request.Query["searchUser"]">
                                    @Localizer["Details"]
                                </a>
                            </td>
                            <td class="some-format">
                                <a class="btn btn-sm btn-success"
                                   asp-action="Edit"
                                   asp-route-userId="@item.UserId"
                                   asp-route-pageNumber="@Context.Request.Query["pageNumber"]"
                                   asp-route-searchUser="@Context.Request.Query["searchUser"]">
                                    <svg width="20px" height="20px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M21.1213 2.70705C19.9497 1.53548 18.0503 1.53547 16.8787 2.70705L15.1989 4.38685L7.29289 12.2928C7.16473 12.421 7.07382 12.5816 7.02986 12.7574L6.02986 16.7574C5.94466 17.0982 6.04451 17.4587 6.29289 17.707C6.54127 17.9554 6.90176 18.0553 7.24254 17.9701L11.2425 16.9701C11.4184 16.9261 11.5789 16.8352 11.7071 16.707L19.5556 8.85857L21.2929 7.12126C22.4645 5.94969 22.4645 4.05019 21.2929 2.87862L21.1213 2.70705ZM18.2929 4.12126C18.6834 3.73074 19.3166 3.73074 19.7071 4.12126L19.8787 4.29283C20.2692 4.68336 20.2692 5.31653 19.8787 5.70705L18.8622 6.72357L17.3068 5.10738L18.2929 4.12126ZM15.8923 6.52185L17.4477 8.13804L10.4888 15.097L8.37437 15.6256L8.90296 13.5112L15.8923 6.52185ZM4 7.99994C4 7.44766 4.44772 6.99994 5 6.99994H10C10.5523 6.99994 11 6.55223 11 5.99994C11 5.44766 10.5523 4.99994 10 4.99994H5C3.34315 4.99994 2 6.34309 2 7.99994V18.9999C2 20.6568 3.34315 21.9999 5 21.9999H16C17.6569 21.9999 19 20.6568 19 18.9999V13.9999C19 13.4477 18.5523 12.9999 18 12.9999C17.4477 12.9999 17 13.4477 17 13.9999V18.9999C17 19.5522 16.5523 19.9999 16 19.9999H5C4.44772 19.9999 4 19.5522 4 18.9999V7.99994Z" fill="#000000"/>
                                    </svg>
                                </a>
                            </td>
                            <td class="some-format">
                                <button class="btn btn-sm btn-danger"
                                        asp-action="Delete"
                                        asp-route-userId="@item.UserId"
                                        asp-route-pageNumber="@Context.Request.Query["pageNumber"]"
                                        asp-route-searchUser="@Context.Request.Query["searchUser"]">
                                    <svg width="20px" height="20px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M3 6.52381C3 6.12932 3.32671 5.80952 3.72973 5.80952H8.51787C8.52437 4.9683 8.61554 3.81504 9.45037 3.01668C10.1074 2.38839 11.0081 2 12 2C12.9919 2 13.8926 2.38839 14.5496 3.01668C15.3844 3.81504 15.4756 4.9683 15.4821 5.80952H20.2703C20.6733 5.80952 21 6.12932 21 6.52381C21 6.9183 20.6733 7.2381 20.2703 7.2381H3.72973C3.32671 7.2381 3 6.9183 3 6.52381Z" fill="#1C274C"/>
                                        <path opacity="0.5" d="M11.5956 22.0001H12.4044C15.1871 22.0001 16.5785 22.0001 17.4831 21.1142C18.3878 20.2283 18.4803 18.7751 18.6654 15.8686L18.9321 11.6807C19.0326 10.1037 19.0828 9.31524 18.6289 8.81558C18.1751 8.31592 17.4087 8.31592 15.876 8.31592H8.12405C6.59127 8.31592 5.82488 8.31592 5.37105 8.81558C4.91722 9.31524 4.96744 10.1037 5.06788 11.6807L5.33459 15.8686C5.5197 18.7751 5.61225 20.2283 6.51689 21.1142C7.42153 22.0001 8.81289 22.0001 11.5956 22.0001Z" fill="#1C274C"/>
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M9.42543 11.4815C9.83759 11.4381 10.2051 11.7547 10.2463 12.1885L10.7463 17.4517C10.7875 17.8855 10.4868 18.2724 10.0747 18.3158C9.66253 18.3592 9.29499 18.0426 9.25378 17.6088L8.75378 12.3456C8.71256 11.9118 9.01327 11.5249 9.42543 11.4815Z" fill="#1C274C"/>
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M14.5747 11.4815C14.9868 11.5249 15.2875 11.9118 15.2463 12.3456L14.7463 17.6088C14.7051 18.0426 14.3376 18.3592 13.9254 18.3158C13.5133 18.2724 13.2126 17.8855 13.2538 17.4517L13.7538 12.1885C13.795 11.7547 14.1625 11.4381 14.5747 11.4815Z" fill="#1C274C"/>
                                    </svg>
                                    @Localizer["Delete User"]
                                </button>
                            </td>
                        </tr>
                        itemCount++;
                    }
                }
                </tbody>
            </table>
            <div class="pagination">
                @if (Model.HasPreviosPage)
                {
                    <a asp-action="Index"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]"
                       asp-route-searchUser="@ViewData["SearchUser"]"
                       asp-route-pageNumber="@(Model.PageIndex - 1)"
                       class="page-item">
                        <span>&laquo; @Localizer["Previous"]</span>
                    </a>
                }
                @if (Model.HasNextPage)
                {
                    <a asp-action="Index"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]"
                       asp-route-searchUser="@ViewData["SearchUser"]"
                       asp-route-pageNumber="@(Model.PageIndex + 1)"
                       class="page-item">
                        <span>@Localizer["Next"] &raquo;</span>
                    </a>
                }
            </div>
        </div>
    </div>
</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js" asp-append-version="true"></script>
<script src="~/js/users/userList.js" asp-append-version="true"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" asp-append-version="true"></script>
<script>
    $(document).ready(function () {
        $('input[type="text"]').on('input', function () {
            $(this).val($(this).val().replace(/^\s+/, ''));
        });
    });

    document.getElementById("clearSearch").addEventListener("click", function () {
        document.getElementById("searchUser").value = "";
        window.location.href = "/User/Index";
    });

    $(document).ready(function () {
        $('input[name="selectedUserIds"]').change(function () {
            var selectedCount = $('input[name="selectedUserIds"]:checked').length;
            if (selectedCount >= 2) {
                $('#deleteAllButton').show();
            } else {
                $('#deleteAllButton').hide();
            }
        });
    });
</script>