@using PineappleSite.Presentation.Models.ShoppingCart
@model CartViewModel

@{
    ViewData["Title"] = Localizer["Creating an order"];
}

<form method="post">
    <input asp-for="CartHeader.UserId" hidden />
    <input asp-for="CartHeader.CartHeaderId" hidden />
    <input asp-for="CartHeader.CartTotal" hidden />

    <div class="border mt-2 p-4 rounded bg-light">
        <div class="container row">
            <div class="col-md-7 col-12">
                <span style="font-size:25px;" class="text-warning mb-2">@Localizer["Request for an order"]</span>
            </div>
            <div class="col-md-5 col-12">
                <a asp-action="CartIndex" class="btn btn-outline-warning form-control">@Localizer["Return to the shopping cart"]</a>
            </div>
            <br /><br /><br />
            <hr />
            <div class="col-7">
                <div class="row pt-2">
                    <div class="col-12 py-2">
                        <input class="form-control" asp-for="CartHeader.Name" placeholder="@Localizer["Full name"]" />
                        <span asp-validation-for="CartHeader.Name" class="text-danger"></span>
                    </div>
                    <div class="col-12 py-2">
                        <input class="form-control" asp-for="CartHeader.Email" placeholder="@Localizer["Email"]" />
                        <span asp-validation-for="CartHeader.Email" class="text-danger"></span>
                    </div>
                    <div class="col-12 py-2">
                        <input class="form-control" asp-for="CartHeader.PhoneNumber" placeholder="@Localizer["Phone"]" />
                        <span asp-validation-for="CartHeader.PhoneNumber" class="text-danger"></span>
                    </div>
                    <div class="col-12 pt-2">
                        <label class="col-form-label">@Localizer["The order is accepted"]</label>
                    </div>

                </div>
            </div>
            <div class="col-5">
                <div class="card mt-2">
                    <div class="card-body">
                        <div class=" d-none d-lg-block">
                            <div class="row text-danger">
                                <div class="col-6">@Localizer["Order details"]</div>
                                <div class="col-3">@Localizer["Price"]</div>
                                <div class="col-3">@Localizer["Quantity"]</div>
                            </div>
                        </div>
                        <hr />
                        @{
                            foreach (var cartObj in Model.CartDetails)
                            {
                                <div class="row h-100">
                                    <div class="col-6">
                                        <span style="font-size:20px">@cartObj.Product.Name</span>
                                    </div>

                                    <div class="col-3" style="font-size:11px;">
                                        <span style="font-size:17px;"> @cartObj.Product.Price Byn</span>

                                    </div>
                                    <div class="col-3" style="font-size:11px;">
                                        <span style="font-size:17px;"> @cartObj.Count</span>
                                    </div>
                                </div>
                                <hr />
                            }
                        }
                        <div class="row">
                            <div class="col-12 text-center pr-4 text-danger">@Localizer["Total amount"]  @Model.CartHeader.CartTotal Byn<br /></div>
                        </div>

                    </div>
                    <div class="card-footer">
                        <div class="row">

                            <div class="col-12 ">
                                <button type="submit" class="btn btn-success form-control ">
                                    <span>@Localizer["To pay"]</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('input').on('input', function () {
            $(this).val($(this).val().replace(/^\s+/, ''));
        });
    });
</script>