@using PineappleSite.Presentation.Models.ShoppingCart
@model PineappleSite.Presentation.Services.ShoppingCarts.CartResult<CartViewModel>

@{
    ViewData["Title"] = Localizer["Shopping cart"];
}

@{
    if (Model.Data.CartHeader is not null && Model.Data.CartDetails?.Count > 0)
    {
        <form method="post" asp-action="RabbitMqShoppingCart">
            <br/>
            <input asp-for="Data.CartHeader.UserId" hidden/>
            <input asp-for="Data.CartHeader.CartHeaderId" hidden/>
            <div class="">
                <div class="card border mt-4 container">
                    <div class="card-header bg-dark text-light ml-0 row ">
                        <div class="col-6">
                            <h3 class="text-success"><i class="bi bi-cart"></i> &nbsp; @Localizer["Shopping cart"]</h3>
                        </div>
                        <div class="col-6 text-end">
                            <a asp-action="GetProducts" asp-controller="Home" class="btn btn-outline-warning mt-2 btn-sm">@Localizer["Back to Products"]</a>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class=" d-none d-lg-block">
                            <div class="row text-info">
                                <div class="col-lg-2"></div>
                                <div class="col-lg-5">@Localizer["Product details"]</div>
                                <div class="col-lg-2">@Localizer["Price"]</div>
                                <div class="col-lg-2">@Localizer["Quantity"]</div>
                                <div class="col-lg-1"></div>
                            </div>
                        </div>
                        <hr/>
                        @{
                            foreach (var cartObj in Model.Data.CartDetails)
                            {
                                <div class="row h-100">
                                    <div class="col-4 col-md-2 text-center py-2">
                                        <img src="@cartObj?.Product?.ImageUrl" class="rounded" width="100%" alt="@Localizer["Product Image"]" loading="lazy"/>
                                    </div>
                                    <div class="col-8 col-md-5">
                                        <h5>
                                            <a asp-action="GetProductDetails" asp-controller="Home" asp-route-id="@cartObj?.ProductId"
                                               style="text-decoration: none; color: black;">
                                                @cartObj?.Product?.Name
                                            </a>
                                        </h5>
                                        <div style="font-size:11px;">@Html.Raw(cartObj?.Product?.Description)</div>
                                    </div>
                                    <div class="col-3 col-md-2 pt-md-4" style="font-size:11px;">
                                        <span style="font-size:17px;">@cartObj?.Product?.Price Br</span>
                                    </div>
                                    <div class="col-3 col-md-2 pt-md-4" style="font-size:11px;">
                                        <span style="font-size:17px;">@cartObj?.Count</span>
                                    </div>
                                    <div class="col-2 col-lg-1 p-0 pt-lg-4 text-center">
                                        <a asp-action="RemoveCartDetailsByUser" asp-route-productId="@cartObj?.ProductId" class="btn btn-sm btn-danger">
                                            <i class="bi bi-trash-fill"></i>
                                        </a>
                                    </div>
                                </div>
                            }
                        }
                        <hr/>
                        <div class="row">
                            <div class="col-6">
                                @{
                                    if (string.IsNullOrEmpty(Model.Data.CartHeader.CouponCode))
                                    {
                                        <span>@Localizer["Coupon"]</span>
                                        <input name="CartViewModel.CartHeader.CouponCode" value="@Model.Data.CartHeader.CouponCode"/>
                                        <button type="submit" class="btn btn-sm btn-success" asp-action="ApplyCoupon">@Localizer["Apply"]</button>
                                        <span class="text-danger" name="CartViewModel.CartHeader.CouponCode" asp-validation-for="Data.CartHeader.CouponCode"></span>
                                    }

                                    else
                                    {
                                        <span>@Localizer["Coupon"]</span>
                                        <input asp-for="Data.CartHeader.CouponCode" disabled/>
                                        <button type="submit" class="btn btn-sm btn-success" asp-action="RemoveCoupon">@Localizer["Delete"]</button>
                                    }
                                }
                            </div>
                            <div class="col-6 text-end">
                                <span class="text-danger" style="font-size:21px;">@Localizer["Total cost"] @Model.Data.CartHeader.CartTotal Br<br/></span>
                                @{
                                    if (Model.Data.CartHeader.Discount > 0)
                                    {
                                        <span class="text-success"> @Localizer["Discount amount"] @Model.Data.CartHeader.Discount Br</span>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                    <div class="card-footer row">
                        <div class="col-6 col-md-3 ">
                            <button type="submit" class="btn btn-outline-danger form-control">@Localizer["Sending a request"]</button>
                        </div>
                        <div class="col-6 col-md-3 offset-md-6">
                            <a asp-action="Checkout" class="btn btn-success form-control">@Localizer["Continue"]</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    }

    else
    {
        <div class="text-center">
            <h1 class="text-white pt-4">@Localizer["Empty shopping cart"]</h1>
            <p class="text-white pb-3">@Localizer["Use the search to find everything you need"]</p>
        </div>
    }
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('input').on('input', function () {
            $(this).val($(this).val().replace(/^\s+/, ''));
        });
    });
</script>