@model PineappleSite.Presentation.Models.Identities.RegisterRequestViewModel

@{
    ViewData["Title"] = Localizer["Register"];
}

<form class="container col-7" asp-action="Register">
    <br />
    <div class="container border p-3 card shadow border-4 mt-3 mb-md-4">
        <div class="card-header bg-secondary bg-gradient ml-0 py-3">
            <div class="row">
                <div class="col-12 text-center">
                    <h1 class="text-white">@Localizer["Register"]</h1>
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="row">
                <div class="col-6">
                    <label class="control-label pt-2" style="font-size:20px;">@Localizer["FirstName"]</label>
                </div>
                <div class="col-6 pb-3">
                    <input class="form-control" asp-for="FirstName" />
                    <span class="text-danger" asp-validation-for="FirstName"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <label class="control-label pt-2" style="font-size:20px;">@Localizer["LastName"]</label>
                </div>
                <div class="col-6 pb-3">
                    <input class="form-control" asp-for="LastName" />
                    <span class="text-danger" asp-validation-for="LastName"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <label class="control-label pt-2" style="font-size:20px;">@Localizer["EmailAddress"]</label>
                </div>
                <div class="col-6 pb-3">
                    <input class="form-control" asp-for="Email" />
                    <span class="text-danger" asp-validation-for="Email"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <label class="control-label pt-2" style="font-size:20px;">@Localizer["UserName"]</label>
                </div>
                <div class="col-6 pb-3">
                    <input class="form-control" asp-for="UserName" />
                    <span class="text-danger" asp-validation-for="UserName"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <label class="control-label pt-2" style="font-size:20px;" asp-for="Password">@Localizer["Password"]</label>
                </div>
                <div class="col-6 pb-3">
                    <div class="input-group">
                        <input asp-for="Password" type="password" class="form-control" />
                        <div class="input-group-append">
                            <button type="button" class="btn btn-secondary" id="togglePassword">
                                <i class="fa fa-eye"></i> @Localizer["Show"]
                            </button>
                        </div>
                    </div>
                </div>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-6">
                    <label class="control-label pt-2" style="font-size:20px;" asp-for="PasswordConfirm">@Localizer["PasswordConfirm"]</label>
                </div>
                <div class="col-6 pb-3">
                    <div class="input-group">
                        <input asp-for="PasswordConfirm" type="password" class="form-control" />
                        <div class="input-group-append">
                            <button type="button" class="btn btn-secondary" id="togglePasswordConfirm">
                                <i class="fa fa-eye"></i> @Localizer["Show"]
                            </button>
                        </div>
                    </div>
                </div>
                <span asp-validation-for="PasswordConfirm" class="text-danger"></span>
            </div>
            <div class="col-5 offset-1">
                <a class="btn-primary btn form-control" asp-controller="Home" asp-action="Index">@Localizer["Go Back"]</a>
            </div>
            <div class="col-5">
                <input type="submit" value="@Localizer["Register"]" class="btn btn-success form-control" />
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/js/users/createUser.js" asp-append-version="true"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('input').on('input', function () {
            $(this).val($(this).val().replace(/^\s+/, ''));
        });
    });
</script>