@using PineappleSite.Presentation.Models.Paginated
@using System.Globalization
@model PaginatedList<PineappleSite.Presentation.Models.Coupons.CouponViewModel>

@{
    ViewData["Title"] = Localizer["Coupon List"];
    <link rel="stylesheet" href="~/css/coupons/IndexCoupons.css" asp-append-version="true"/>
}

<style>
    .table {
        margin: 0 auto;
        width: 90%;
    }

    .some-format {
        padding: 10px;
        text-align: center;
        vertical-align: middle;
    }
</style>

@{
    if (Model.Count > 0)
    {
        <div class="col-12 form-text">
            <form id="searchForm" asp-action="Index" method="get">
                <div class="form-actions no-color">
                    <p class="mb-0">
                        <label for="searchCode" style="font-size:20px; color:white">@Localizer["Search coupon"]</label>
                    </p>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" name="searchCode" id="searchCode" value="@ViewData["SearchCode"]"/>
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-primary search-button">@Localizer["Search"]</button>
                            <button type="button" id="clearSearch" class="btn btn-secondary clear-button">@Localizer["Clear"]</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <form id="deleteSelectedForm" asp-action="DeleteMultiple" onsubmit="return confirm('@Localizer["Remove entities"]')" method="post">
            <div class="card shadow border-4 mt-3 mb-md-4">
                <div class="card-header bg-secondary bg-gradient ml-0 py-3">
                    <div class="row">
                        <div class="col-12 text-center">
                            <h1 class="text-white">@Localizer["Coupon List"]</h1>
                        </div>
                    </div>
                </div>
                <div class="card-body p-4">
                    <div class="row pb-3">
                        <div class="col-6">
                        </div>
                        <div class="col-6 text-end">
                            <a asp-action="Create" class="btn btn-outline-primary" asp-route-culture="@CultureInfo.CurrentCulture.Name">
                                <i class="bi bi-plus-square"></i> @Localizer["AddNewCoupon"]
                            </a>
                            <br/> <br/>
                            <button id="deleteAllButton" type="submit" class="btn btn-danger" style="display:none;" form="deleteSelectedForm">@Localizer["DeleteAllButton"]</button>
                        </div>
                    </div>
                    <table class="table">
                        <thead>
                        <tr>
                            <th></th>
                            <th class="some-format">@Localizer["Id"]</th>
                            <th class="some-format">@Localizer["Coupon Code"]</th>
                            <th class="some-format">@Localizer["Discount Amount"]</th>
                            <th class="some-format">@Localizer["Min Amount"]</th>
                            <th class="some-format">@Localizer["Details"]</th>
                            <th class="some-format">@Localizer["Delete"]</th>
                        </tr>
                        </thead>
                        <tbody>
                        @{
                            var itemCount = 0;
                        }
                        @{
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td class="some-format">
                                        <input type="checkbox" name="selectedCoupons" value="@item.CouponId"/>
                                    </td>
                                    <td class="some-format">@item.CouponId</td>
                                    <td class="some-format">@item.CouponCode</td>
                                    <td class="some-format">@item.DiscountAmount</td>
                                    <td class="some-format">@item.MinAmount</td>
                                    <td class="some-format">
                                        <a class="btn btn-sm btn-success" asp-action="Details" asp-route-couponId="@item.CouponId">
                                            @Localizer["Details"]
                                        </a>
                                    </td>
                                    <td class="some-format">
                                        <button class="btn btn-sm btn-danger" asp-action="Delete" asp-route-couponId="@item.CouponId" onsubmit="return confirm('@Localizer["Remove entity"]')">
                                            <svg width="20px" height="20px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M20.5001 6H3.5" stroke="#1C274C" stroke-width="1.5" stroke-linecap="round"/>
                                                <path d="M18.8332 8.5L18.3732 15.3991C18.1962 18.054 18.1077 19.3815 17.2427 20.1907C16.3777 21 15.0473 21 12.3865 21H11.6132C8.95235 21 7.62195 21 6.75694 20.1907C5.89194 19.3815 5.80344 18.054 5.62644 15.3991L5.1665 8.5" stroke="#1C274C" stroke-width="1.5" stroke-linecap="round"/>
                                                <path d="M9.5 11L10 16" stroke="#1C274C" stroke-width="1.5" stroke-linecap="round"/>
                                                <path d="M14.5 11L14 16" stroke="#1C274C" stroke-width="1.5" stroke-linecap="round"/>
                                                <path d="M6.5 6C6.55588 6 6.58382 6 6.60915 5.99936C7.43259 5.97849 8.15902 5.45491 8.43922 4.68032C8.44784 4.65649 8.45667 4.62999 8.47434 4.57697L8.57143 4.28571C8.65431 4.03708 8.69575 3.91276 8.75071 3.8072C8.97001 3.38607 9.37574 3.09364 9.84461 3.01877C9.96213 3 10.0932 3 10.3553 3H13.6447C13.9068 3 14.0379 3 14.1554 3.01877C14.6243 3.09364 15.03 3.38607 15.2493 3.8072C15.3043 3.91276 15.3457 4.03708 15.4286 4.28571L15.5257 4.57697C15.5433 4.62992 15.5522 4.65651 15.5608 4.68032C15.841 5.45491 16.5674 5.97849 17.3909 5.99936C17.4162 6 17.4441 6 17.5 6" stroke="#1C274C" stroke-width="1.5"/>
                                            </svg>
                                            @Localizer["Remove coupon"]
                                        </button>
                                    </td>
                                </tr>
                                itemCount++;
                            }
                        }
                        </tbody>
                    </table>
                    <div class="pagination">
                        @if (Model.HasPreviosPage)
                        {
                            <a asp-action="Index"
                               asp-route-currentFilter="@ViewData["CurrentFilter"]"
                               asp-route-searchCode="@ViewData["SearchCode"]"
                               asp-route-pageNumber="@(Model.PageIndex - 1)"
                               class="page-item">
                                <span>&laquo; @Localizer["Previous"]</span>
                            </a>
                        }
                        @if (Model.HasNextPage)
                        {
                            <a asp-action="Index"
                               asp-route-currentFilter="@ViewData["CurrentFilter"]"
                               asp-route-searchCode="@ViewData["SearchCode"]"
                               asp-route-pageNumber="@(Model.PageIndex + 1)"
                               class="page-item">
                                <span>@Localizer["Next"] &raquo;</span>
                            </a>
                        }
                    </div>
                </div>
            </div>
        </form>
    }

    else
    {
        <a asp-action="Create" class="btn btn-outline-primary" style="font-size: 20px; color:white">
            <i class="bi bi-plus-square"></i> @Localizer["AddNewCoupon"]
        </a>
    }
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="~/js/coupons/IndexCoupons.js" asp-append-version="true"></script>

<script>
    document.getElementById("searchForm").addEventListener("submit", function (event) {
        const culture = "@CultureInfo.CurrentCulture.Name";
        const url = this.action + "?culture=" + culture + "&" + new URLSearchParams(new FormData(this)).toString();
        event.preventDefault();
        window.location.href = url;
    });

    document.getElementById("clearSearch").addEventListener("click", function () {
        const culture = "@CultureInfo.CurrentCulture.Name";
        window.location.href = document.getElementById("searchForm").action + "?culture=" + culture;
    });
</script>