@using PineappleSite.Presentation.Extecsions
@using PineappleSite.Presentation.Models.Products.Enum
@model PineappleSite.Presentation.Models.Products.CreateProductViewModel

@{
    ViewData["Title"] = Localizer["Add product"];
}

<form class="container col-7" asp-action="Create" enctype="multipart/form-data">
    <br />
    <div class="container border p-3 card shadow border-4 mt-3 mb-md-4">
        <div class="card-header bg-secondary bg-gradient ml-0 py-3">
            <div class="row">
                <div class="col-12 text-center">
                    <h1 class="text-white">@Localizer["Add product"]</h1>
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="row">
                <div class="col-6">
                    <label class="control-label pt-2" style="font-size:20px;">@Localizer["Product name"]</label>
                </div>
                <div class="col-6 pb-3">
                    <input class="form-control" asp-for="Name" />
                    <span class="text-danger" asp-validation-for="Name"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <label class="control-label pt-2" style="font-size:20px;">@Localizer["Description"]</label>
                </div>
                <div class="col-6 pb-3">
                    <textarea class="form-control" asp-for="Description"></textarea>
                    <span class="text-danger" asp-validation-for="Description"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <label class="control-label pt-2" style="font-size: 20px;">@Localizer["Produc category"]</label>
                </div>
                <div class="col-6 pb-3">
                    <select asp-for="ProductCategory" class="form-control">
                        @{
                            foreach (ProductCategory category in Enum.GetValues(typeof(ProductCategory)))
                            {
                                <option value="@category">@category.GetDisplayName()</option>
                            }
                        }
                    </select>
                    <span asp-validation-for="ProductCategory" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <label class="control-label pt-2" style="font-size:20px;">@Localizer["Price"]</label>
                </div>
                <div class="col-6 pb-3">
                    <input class="form-control" asp-for="Price" />
                    <span class="text-danger" asp-validation-for="Price"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <label class="control-label pt-2" style="font-size:20px;">@Localizer["Image"]</label>
                </div>
                <div class="col-6 pb-3">
                    <input asp-for="Avatar" class="form-control" />
                    <input asp-for="ImageUrl" hidden class="form-control" />
                    <span asp-validation-for="Avatar" class="text-danger"></span>
                </div>
            </div>
            <div class="col-5 offset-1">
                <a class="btn-primary btn form-control" asp-action="GetProducts">@Localizer["Go back to the products"]</a>
            </div>
            <div class="col-5">
                <input type="submit" value="@Localizer["Add product"]" class="btn btn-success form-control" />
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}