@model IEnumerable<PineappleSite.Presentation.Models.Coupons.CouponViewModel>

@{
    ViewData["Title"] = "Список купонов";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Добавить новый купон</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CouponId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CouponCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiscountAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MinAmount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CouponId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CouponCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DiscountAmount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MinAmount)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Посмотреть купон", "Details", new { id=item.CouponId }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
