@model IEnumerable<PineappleSite.Presentation.Models.Coupons.CouponViewModel>

@{
    ViewData["Title"] = "Список купонов";
}

<h1>Список купонов</h1>

<p>
    <a asp-action="Create">Добавить новый купон</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CouponId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CouponCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiscountAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MinAmount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CouponId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CouponCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DiscountAmount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MinAmount)
                    </td>
                    <td>
                        @Html.ActionLink("Обновить купон", "Edit", new { id=item.CouponId }) |
                        @Html.ActionLink("Посмотреть купон", "Details", new { id=item.CouponId }) |
                        <form asp-action="Delete" asp-route-id="@item.CouponId" style="display:inline;" onsubmit="return confirm('Вы действительно хотите удалить данную запись?')" method="post">
                            <button type="submit" class="btn btn-sm btn-danger d-inline">Удалить</button>
                        </form>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>