<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - PineappleSite Restaurant</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/PineappleSite.Presentation.styles.css" asp-append-version="true"/>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" asp-append-version="true"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css" asp-append-version="true">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="~/css/backImage.css" asp-append-version="true"/>
    <link rel="stylesheet" href="//cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css"/>
</head>
<body class="backgroundImageOnSite">
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 backgroundImageOnNavBar">
        <div class="container-fluid">
            <a class="navbar-brand" asp-controller="Home" asp-action="Index" style="display: flex; align-items: center;">
                <img width="35px" src="~/images/pineapple-svgrepo-com.svg" style="margin-top: -3px; margin-right: 5px;" alt="@Localizer["Pineapple Logo"]" loading="lazy"/> <span style="margin-top: -3px; margin-right: 3px;">Pineapple Restaurant</span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a asp-controller="Home" asp-action="Index" class="nav-link text-dark">@Localizer["Home"]</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Contacts">@Localizer["Contacts"]</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="ServicesProvided">@Localizer["Services provided"]</a>
                    </li>
                    @{
                        if (User.Identity.IsAuthenticated)
                        {
                            if (User.IsInRole("Administrator"))
                            {
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">@Localizer["For the administrator"]</a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <li>
                                            <a class="dropdown-item" asp-area="" asp-controller="Coupon" asp-action="Index">@Localizer["Coupons"]</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" asp-area="" asp-controller="Product" asp-action="GetProducts">@Localizer["Products"]</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" asp-area="" asp-controller="User" asp-action="Index">@Localizer["Users"]</a>
                                        </li>
                                        <li>
                                            <hr class="dropdown-divider">
                                        </li>
                                    </ul>
                                </li>
                            }

                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="ShoppingCart" asp-action="Index">
                                    &nbsp; <i class="bi bi-cart"></i>&nbsp;
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Favourite" asp-action="Index">
                                    @Localizer["Favourites"]
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " asp-area="" asp-controller="Order" asp-action="OrderIndex">@Localizer["Order Management"]</a>
                            </li>
                        }
                    }
                </ul>
                @* <ul class="navbar-nav"> *@
                @*     <li class="nav-item dropdown"> *@
                @*         <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"> *@
                @*             @Thread.CurrentThread.CurrentCulture.DisplayName *@
                @*         </a> *@
                @*         <ul class="dropdown-menu" aria-labelledby="navbarDropdown"> *@
                @*             <li> *@
                @*                 <form asp-controller="Home" asp-action="SetLanguage" method="post"> *@
                @*                     <input class="dropdown-item" type="hidden" name="returnUrl" value="@Context.Request.Path"/> *@
                @*                     <button class="dropdown-item" type="submit" name="culture" value="ru-RU">Русский</button> *@
                @*                 </form> *@
                @*             </li> *@
                @*             <li> *@
                @*                 <form asp-controller="Home" asp-action="SetLanguage" method="post"> *@
                @*                     <input class="dropdown-item" type="hidden" name="returnUrl" value="@Context.Request.Path"/> *@
                @*                     <button class="dropdown-item" type="submit" name="culture" value="en-US">English</button> *@
                @*                 </form> *@
                @*             </li> *@
                @*             <li> *@
                @*                 <hr class="dropdown-divider"> *@
                @*             </li> *@
                @*         </ul> *@
                @*     </li> *@
                @* </ul> *@
                <ul class="navbar-nav">
                    <partial name="_LoginPartial"/>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div id="bg-wrap">
    <svg viewBox="0 0 100 100" preserveAspectRatio="xMidYMid slice">
        <defs>
            <radialGradient id="Gradient1" cx="50%" cy="50%" fx="0.441602%" fy="50%" r=".5">
                <animate attributeName="fx" dur="34s" values="0%;3%;0%" repeatCount="indefinite">

                </animate>
                <stop offset="0%" stop-color="rgba(255, 0, 255, 1)"></stop><stop offset="100%" stop-color="rgba(255, 0, 255, 0)"></stop>
            </radialGradient>
            <radialGradient id="Gradient2" cx="50%" cy="50%" fx="2.68147%" fy="50%" r=".5">
                <animate attributeName="fx" dur="23.5s" values="0%;3%;0%" repeatCount="indefinite">

                </animate>
                <stop offset="0%" stop-color="rgba(255, 255, 0, 1)"></stop><stop offset="100%" stop-color="rgba(255, 255, 0, 0)"></stop>
            </radialGradient>
            <radialGradient id="Gradient3" cx="50%" cy="50%" fx="0.836536%" fy="50%" r=".5">
                <animate attributeName="fx" dur="21.5s" values="0%;3%;0%" repeatCount="indefinite">

                </animate>
                <stop offset="0%" stop-color="rgba(0, 255, 255, 1)"></stop><stop offset="100%" stop-color="rgba(0, 255, 255, 0)"></stop>
            </radialGradient>
            <radialGradient id="Gradient4" cx="50%" cy="50%" fx="4.56417%" fy="50%" r=".5">
                <animate attributeName="fx" dur="23s" values="0%;5%;0%" repeatCount="indefinite">

                </animate>
                <stop offset="0%" stop-color="rgba(0, 255, 0, 1)"></stop><stop offset="100%" stop-color="rgba(0, 255, 0, 0)"></stop>
            </radialGradient>
            <radialGradient id="Gradient5" cx="50%" cy="50%" fx="2.65405%" fy="50%" r=".5">
                <animate attributeName="fx" dur="24.5s" values="0%;5%;0%" repeatCount="indefinite">

                </animate>
                <stop offset="0%" stop-color="rgba(0,0,255, 1)"></stop>
                <stop offset="100%" stop-color="rgba(0,0,255, 0)"></stop>
            </radialGradient>
            <radialGradient id="Gradient6" cx="50%" cy="50%" fx="0.981338%" fy="50%" r=".5">
                <animate attributeName="fx" dur="25.5s" values="0%;5%;0%" repeatCount="indefinite">

                </animate>
                <stop offset="0%" stop-color="rgba(255,0,0, 1)"></stop>
                <stop offset="100%" stop-color="rgba(255,0,0, 0)"></stop>
            </radialGradient>
        </defs>
        <rect x="0" y="0" width="100%" height="100%" fill="url(#Gradient4)">
            <animate attributeName="x" dur="20s" values="25%;0%;25%" repeatCount="indefinite"/>
            <animate attributeName="y" dur="21s" values="0%;25%;0%" repeatCount="indefinite"/>
            <animateTransform attributeName="transform" type="rotate" from="0 50 50" to="360 50 50" dur="17s" repeatCount="indefinite"/>
        </rect>
        <rect x="0" y="0" width="100%" height="100%" fill="url(#Gradient5)">
            <animate attributeName="x" dur="23s" values="0%;-25%;0%" repeatCount="indefinite"/>
            <animate attributeName="y" dur="24s" values="25%;-25%;25%" repeatCount="indefinite"/>
            <animateTransform attributeName="transform" type="rotate" from="0 50 50" to="360 50 50" dur="18s" repeatCount="indefinite"/>
        </rect>
        <rect x="0" y="0" width="100%" height="100%" fill="url(#Gradient6)">
            <animate attributeName="x" dur="25s" values="-25%;0%;-25%" repeatCount="indefinite"/>
            <animate attributeName="y" dur="26s" values="0%;-25%;0%" repeatCount="indefinite"/>
            <animateTransform attributeName="transform" type="rotate" from="360 50 50" to="0 50 50" dur="19s" repeatCount="indefinite"/>
        </rect>
        <rect x="13.744%" y="1.18473%" width="100%" height="100%" fill="url(#Gradient1)" transform="rotate(334.41 50 50)">
            <animate attributeName="x" dur="20s" values="25%;0%;25%" repeatCount="indefinite"></animate>
            <animate attributeName="y" dur="21s" values="0%;25%;0%" repeatCount="indefinite"></animate>
            <animateTransform attributeName="transform" type="rotate" from="0 50 50" to="360 50 50" dur="7s" repeatCount="indefinite">

            </animateTransform>
        </rect>
        <rect x="-2.17916%" y="35.4267%" width="100%" height="100%" fill="url(#Gradient2)" transform="rotate(255.072 50 50)">
            <animate attributeName="x" dur="23s" values="-25%;0%;-25%" repeatCount="indefinite"></animate>
            <animate attributeName="y" dur="24s" values="0%;50%;0%" repeatCount="indefinite"></animate>
            <animateTransform attributeName="transform" type="rotate" from="0 50 50" to="360 50 50" dur="12s" repeatCount="indefinite">

            </animateTransform>
        </rect>
        <rect x="9.00483%" y="14.5733%" width="100%" height="100%" fill="url(#Gradient3)" transform="rotate(139.903 50 50)">
            <animate attributeName="x" dur="25s" values="0%;25%;0%" repeatCount="indefinite">
            </animate>

            <animate attributeName="y" dur="12s" values="0%;25%;0%" repeatCount="indefinite">
            </animate>

            <animateTransform attributeName="transform" type="rotate" from="360 50 50" to="0 50 50" dur="9s" repeatCount="indefinite">
            </animateTransform>
        </rect>
    </svg>
</div>

<div class="content-overlay data-container">
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
            <partial name="_Notifications"/>
        </main>
    </div>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2024 - PineappleSite.Presentation - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="//cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>