<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - PineappleSite Restaurant</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/PineappleSite.Presentation.styles.css" asp-append-version="true"/>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" asp-append-version="true"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="~/css/backImage.css" asp-append-version="true"/>
    <link rel="stylesheet" href="//cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css"/>
</head>
<body class="backgroundImageOnSite">
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 backgroundImageOnNavBar">
        <div class="container-fluid">
            <a class="navbar-brand" asp-controller="Home" asp-action="Index" style="display: flex; align-items: center;">
                <img width="35px" src="~/images/pineapple-svgrepo-com.svg" style="margin-top: -3px; margin-right: 5px;" alt="@Localizer["Pineapple Logo"]" loading="lazy"/> <span style="margin-top: -3px; margin-right: 3px;">Pineapple Restaurant</span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a asp-controller="Home" asp-action="Index" class="nav-link text-dark">@Localizer["Home"]</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Contacts">@Localizer["Contacts"]</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="ServicesProvided">@Localizer["Services provided"]</a>
                    </li>
                    @{
                        if (User.Identity.IsAuthenticated)
                        {
                            if (User.IsInRole("Administrator"))
                            {
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">@Localizer["For the administrator"]</a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <li>
                                            <a class="dropdown-item" asp-area="" asp-controller="Coupon" asp-action="Index" asp-route-pageNumber="1">@Localizer["Coupons"]</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" asp-area="" asp-controller="Product" asp-action="GetProducts" asp-route-pageNumber="1">@Localizer["Products"]</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" asp-area="" asp-controller="User" asp-action="Index" asp-route-pageNumber="1">@Localizer["Users"]</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" asp-area="" asp-controller="User" asp-action="GetUsersProfile" asp-route-pageNumber="1">@Localizer["UsersProfile"]</a>
                                        </li>
                                        <li>
                                            <hr class="dropdown-divider">
                                        </li>
                                    </ul>
                                </li>
                            }

                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="ShoppingCart" asp-action="Index">
                                    &nbsp;
                                    <svg width="25px" height="25px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M1.28869 2.76279C1.41968 2.36983 1.84442 2.15746 2.23737 2.28845L2.50229 2.37675C2.51549 2.38115 2.52864 2.38554 2.54176 2.38991C3.16813 2.59867 3.69746 2.7751 4.11369 2.96873C4.55613 3.17456 4.94002 3.42965 5.23112 3.83352C5.52221 4.2374 5.64282 4.68226 5.69817 5.16708C5.75025 5.62318 5.75023 6.18114 5.7502 6.84139L5.7502 9.49996C5.7502 10.9354 5.7518 11.9365 5.85335 12.6918C5.952 13.4256 6.13245 13.8142 6.40921 14.091C6.68598 14.3677 7.07455 14.5482 7.80832 14.6468C8.56367 14.7484 9.56479 14.75 11.0002 14.75H18.0002C18.4144 14.75 18.7502 15.0857 18.7502 15.5C18.7502 15.9142 18.4144 16.25 18.0002 16.25H10.9453C9.57774 16.25 8.47542 16.25 7.60845 16.1334C6.70834 16.0124 5.95047 15.7535 5.34855 15.1516C4.74664 14.5497 4.48774 13.7918 4.36673 12.8917C4.25017 12.0247 4.25018 10.9224 4.2502 9.55484L4.2502 6.883C4.2502 6.17 4.24907 5.69823 4.20785 5.33722C4.16883 4.99538 4.10068 4.83049 4.01426 4.71059C3.92784 4.59069 3.79296 4.47389 3.481 4.32877C3.15155 4.17551 2.70435 4.02524 2.02794 3.79978L1.76303 3.71147C1.37008 3.58049 1.15771 3.15575 1.28869 2.76279Z" fill="#1C274C"/>
                                        <path opacity="0.5" d="M5.74512 6C5.75008 6.25912 5.75008 6.53957 5.75007 6.8414L5.75006 9.5C5.75006 10.9354 5.75166 11.9365 5.85321 12.6919C5.86803 12.8021 5.8847 12.9046 5.90326 13H16.0221C16.9815 13 17.4612 13 17.8369 12.7523C18.2126 12.5045 18.4016 12.0636 18.7795 11.1818L19.2081 10.1818C20.0176 8.29294 20.4223 7.34853 19.9777 6.67426C19.5331 6 18.5056 6 16.4507 6H5.74512Z" fill="#1C274C"/>
                                        <path d="M7.5 18C8.32843 18 9 18.6716 9 19.5C9 20.3284 8.32843 21 7.5 21C6.67157 21 6 20.3284 6 19.5C6 18.6716 6.67157 18 7.5 18Z" fill="#1C274C"/>
                                        <path d="M18 19.5001C18 18.6716 17.3284 18.0001 16.5 18.0001C15.6716 18.0001 15 18.6716 15 19.5001C15 20.3285 15.6716 21.0001 16.5 21.0001C17.3284 21.0001 18 20.3285 18 19.5001Z" fill="#1C274C"/>
                                    </svg>
                                    @await Component.InvokeAsync("CartCount")
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Favourite" asp-action="Index">
                                    @Localizer["Favourites"]
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " asp-area="" asp-controller="Order" asp-action="OrderIndex">@Localizer["Order Management"]</a>
                            </li>
                        }
                    }
                </ul>
                @* <ul class="navbar-nav"> *@
                @*     <li class="nav-item dropdown"> *@
                @*         <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"> *@
                @*             @Thread.CurrentThread.CurrentCulture.DisplayName *@
                @*         </a> *@
                @*         <ul class="dropdown-menu" aria-labelledby="navbarDropdown"> *@
                @*             <li> *@
                @*                 <form asp-controller="Home" asp-action="SetLanguage" method="post"> *@
                @*                     <input class="dropdown-item" type="hidden" name="returnUrl" value="@Context.Request.Path"/> *@
                @*                     <button class="dropdown-item" type="submit" name="culture" value="ru-RU">Русский</button> *@
                @*                 </form> *@
                @*             </li> *@
                @*             <li> *@
                @*                 <form asp-controller="Home" asp-action="SetLanguage" method="post"> *@
                @*                     <input class="dropdown-item" type="hidden" name="returnUrl" value="@Context.Request.Path"/> *@
                @*                     <button class="dropdown-item" type="submit" name="culture" value="en-US">English</button> *@
                @*                 </form> *@
                @*             </li> *@
                @*             <li> *@
                @*                 <hr class="dropdown-divider"> *@
                @*             </li> *@
                @*         </ul> *@
                @*     </li> *@
                @* </ul> *@
                <ul class="navbar-nav">
                    <partial name="_LoginPartial"/>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div id="bg-wrap">
    <svg viewBox="0 0 100 100" preserveAspectRatio="xMidYMid slice">
        <defs>
            <radialGradient id="Gradient1" cx="50%" cy="50%" fx="0.441602%" fy="50%" r=".5">
                <animate attributeName="fx" dur="34s" values="0%;3%;0%" repeatCount="indefinite">

                </animate>
                <stop offset="0%" stop-color="rgba(255, 0, 255, 1)"></stop><stop offset="100%" stop-color="rgba(255, 0, 255, 0)"></stop>
            </radialGradient>
            <radialGradient id="Gradient2" cx="50%" cy="50%" fx="2.68147%" fy="50%" r=".5">
                <animate attributeName="fx" dur="23.5s" values="0%;3%;0%" repeatCount="indefinite">

                </animate>
                <stop offset="0%" stop-color="rgba(255, 255, 0, 1)"></stop><stop offset="100%" stop-color="rgba(255, 255, 0, 0)"></stop>
            </radialGradient>
            <radialGradient id="Gradient3" cx="50%" cy="50%" fx="0.836536%" fy="50%" r=".5">
                <animate attributeName="fx" dur="21.5s" values="0%;3%;0%" repeatCount="indefinite">

                </animate>
                <stop offset="0%" stop-color="rgba(0, 255, 255, 1)"></stop><stop offset="100%" stop-color="rgba(0, 255, 255, 0)"></stop>
            </radialGradient>
            <radialGradient id="Gradient4" cx="50%" cy="50%" fx="4.56417%" fy="50%" r=".5">
                <animate attributeName="fx" dur="23s" values="0%;5%;0%" repeatCount="indefinite">

                </animate>
                <stop offset="0%" stop-color="rgba(0, 255, 0, 1)"></stop><stop offset="100%" stop-color="rgba(0, 255, 0, 0)"></stop>
            </radialGradient>
            <radialGradient id="Gradient5" cx="50%" cy="50%" fx="2.65405%" fy="50%" r=".5">
                <animate attributeName="fx" dur="24.5s" values="0%;5%;0%" repeatCount="indefinite">

                </animate>
                <stop offset="0%" stop-color="rgba(0,0,255, 1)"></stop>
                <stop offset="100%" stop-color="rgba(0,0,255, 0)"></stop>
            </radialGradient>
            <radialGradient id="Gradient6" cx="50%" cy="50%" fx="0.981338%" fy="50%" r=".5">
                <animate attributeName="fx" dur="25.5s" values="0%;5%;0%" repeatCount="indefinite">

                </animate>
                <stop offset="0%" stop-color="rgba(255,0,0, 1)"></stop>
                <stop offset="100%" stop-color="rgba(255,0,0, 0)"></stop>
            </radialGradient>
        </defs>
        <rect x="0" y="0" width="100%" height="100%" fill="url(#Gradient4)">
            <animate attributeName="x" dur="20s" values="25%;0%;25%" repeatCount="indefinite"/>
            <animate attributeName="y" dur="21s" values="0%;25%;0%" repeatCount="indefinite"/>
            <animateTransform attributeName="transform" type="rotate" from="0 50 50" to="360 50 50" dur="17s" repeatCount="indefinite"/>
        </rect>
        <rect x="0" y="0" width="100%" height="100%" fill="url(#Gradient5)">
            <animate attributeName="x" dur="23s" values="0%;-25%;0%" repeatCount="indefinite"/>
            <animate attributeName="y" dur="24s" values="25%;-25%;25%" repeatCount="indefinite"/>
            <animateTransform attributeName="transform" type="rotate" from="0 50 50" to="360 50 50" dur="18s" repeatCount="indefinite"/>
        </rect>
        <rect x="0" y="0" width="100%" height="100%" fill="url(#Gradient6)">
            <animate attributeName="x" dur="25s" values="-25%;0%;-25%" repeatCount="indefinite"/>
            <animate attributeName="y" dur="26s" values="0%;-25%;0%" repeatCount="indefinite"/>
            <animateTransform attributeName="transform" type="rotate" from="360 50 50" to="0 50 50" dur="19s" repeatCount="indefinite"/>
        </rect>
        <rect x="13.744%" y="1.18473%" width="100%" height="100%" fill="url(#Gradient1)" transform="rotate(334.41 50 50)">
            <animate attributeName="x" dur="20s" values="25%;0%;25%" repeatCount="indefinite"></animate>
            <animate attributeName="y" dur="21s" values="0%;25%;0%" repeatCount="indefinite"></animate>
            <animateTransform attributeName="transform" type="rotate" from="0 50 50" to="360 50 50" dur="7s" repeatCount="indefinite">

            </animateTransform>
        </rect>
        <rect x="-2.17916%" y="35.4267%" width="100%" height="100%" fill="url(#Gradient2)" transform="rotate(255.072 50 50)">
            <animate attributeName="x" dur="23s" values="-25%;0%;-25%" repeatCount="indefinite"></animate>
            <animate attributeName="y" dur="24s" values="0%;50%;0%" repeatCount="indefinite"></animate>
            <animateTransform attributeName="transform" type="rotate" from="0 50 50" to="360 50 50" dur="12s" repeatCount="indefinite">

            </animateTransform>
        </rect>
        <rect x="9.00483%" y="14.5733%" width="100%" height="100%" fill="url(#Gradient3)" transform="rotate(139.903 50 50)">
            <animate attributeName="x" dur="25s" values="0%;25%;0%" repeatCount="indefinite">
            </animate>

            <animate attributeName="y" dur="12s" values="0%;25%;0%" repeatCount="indefinite">
            </animate>

            <animateTransform attributeName="transform" type="rotate" from="360 50 50" to="0 50 50" dur="9s" repeatCount="indefinite">
            </animateTransform>
        </rect>
    </svg>
</div>

<div class="content-overlay data-container">
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
            <partial name="_Notifications"/>
        </main>
    </div>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2024 - PineappleSite.Presentation - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="//cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>