@using Microsoft.IdentityModel.JsonWebTokens
@using PineappleSite.Presentation.Utility
@using System.Security.Claims
@model PineappleSite.Presentation.Models.Orders.OrderHeaderViewModel

@{
    ViewData["Title"] = Localizer["Order Details"];
}

<form method="post">
    <br />
    <input asp-for="OrderHeaderId" hidden />
    <div class="container">
        <div class="card">
            <div class="card-header bg-dark text-light ml-0">
                <div class="container row">
                    <div class="col-12 d-none d-md-block col-md-6 pb-1 text-warning h3">@Localizer["Order Information"]</div>
                    <div class="col-12 col-md-4 offset-md-2 text-right mt-2">
                        <a asp-action="OrderIndex" class="btn btn-warning form-control btn-sm">@Localizer["Back to orders"]</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="container rounded p-2">
                    <div class="row">
                        <div class="col-12 col-lg-6 pb-4">
                            <div class="row my-1">
                                <div class="col-3">@Localizer["Name"]</div>
                                <div class="col-9"><input asp-for="Name" readonly class="form-control" /></div>
                            </div>

                            <div class="row my-1">
                                <div class="col-3">@Localizer["Phone"]</div>
                                <div class="col-9"><input asp-for="PhoneNumber" readonly class="form-control" /></div>
                            </div>

                            <div class="row my-1">
                                <div class="col-3">@Localizer["Email"]</div>
                                <div class="col-9"> <input asp-for="Email" readonly class="form-control" /></div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">@Localizer["Ordrer Time"]</div>
                                <div class="col-9"><input value="@Model.OrderTime.ToShortDateString()" readonly class="form-control" /></div>
                            </div>

                            @{
                                if (User.Claims.Where(key => key.Type == ClaimTypes.Role)?.FirstOrDefault()?.Value == StaticDetails.RoleAdmin)
                                {
                                    <div class="row my-1">
                                        <div class="col-3">@Localizer["Session Id"]</div>
                                        <div class="col-9"><input asp-for="StripeSessionId" readonly class="form-control" /></div>
                                    </div>
                                    <div class="row my-1">
                                        <div class="col-3">@Localizer["Payment Id"]</div>
                                        <div class="col-9"><input asp-for="PaymentIntentId" readonly class="form-control" /></div>
                                    </div>
                                }
                            }

                            <div class="row my-1">
                                <div class="col-3">@Localizer["Order status"]</div>
                                <div class="col-9"><input asp-for="Status" readonly class="form-control" /></div>
                            </div>

                        </div>
                        <div class="col-12 col-lg-5 offset-lg-1">
                            <h4 class="d-flex justify-content-between align-items-center mb-3"><span class="text-warning">@Localizer["The total cost of the order"]</span></h4>
                            <label class="bg-info text-dark text-center form-control my-2">@Localizer["Order status"] - @Model.Status</label>

                            <ul class="list-group mb-3">
                                @{
                                    foreach (var detail in Model.OrderDetails)
                                    {
                                        <li class="list-group-item d-flex justify-content-between p-2">
                                            <div class="row container">
                                                <div class="col-8">

                                                    <h6 class="my-0 text-muted">@Localizer["ProductName"] @detail.ProductName</h6>
                                                    <small class="text-muted">@Localizer["Price"] @detail.Price Byn</small><br />
                                                    <small class="text-muted">@Localizer["Quantity"] @detail.Count</small>
                                                </div>
                                                <div class="col-4 text-end"><p class="text-success">@((detail.Count * detail.Price)) Byn</p></div>
                                            </div>
                                        </li>
                                    }
                                }
                                <li class="list-group-item bg-primary">
                                    <div class="row container">
                                        <div class="col-6"><h5 class="text-white">@Localizer["TOTAL"]</h5></div>
                                        <div class="col-6 text-end"><h5 class="text-white">@Model.OrderTotal Byn</h5></div>
                                    </div>
                                </li>
                            </ul>

                            @{
                                if (Model.Status == StaticDetails.Status_Approved)
                                {
                                    if (User.Claims.Where(key => key.Type == ClaimTypes.Role)?.FirstOrDefault()?.Value == StaticDetails.RoleAdmin)
                                    {
                                        <button asp-action="OrderReadyForPickup" asp-route-orderId="@Model.OrderHeaderId" type="submit" class="btn btn-success form-control my-1">@Localizer["The order is ready"]</button>
                                    }
                                }

                                if (Model.Status == StaticDetails.Status_ReadyForPickup)
                                {
                                    if (User.Claims.Where(key => key.Type == ClaimTypes.Role)?.FirstOrDefault()?.Value == StaticDetails.RoleAdmin)
                                    {
                                        <button asp-action="CompleteOrder" asp-route-orderId="@Model.OrderHeaderId" type="submit" class="btn btn-success form-control my-1">@Localizer["Complete the order"]</button>
                                    }
                                }

                                if (Model.Status == StaticDetails.Status_Approved || Model.Status == StaticDetails.Status_ReadyForPickup)
                                {
                                    <button asp-action="CancelOrder" asp-route-orderId="@Model.OrderHeaderId" type="submit" class="btn btn-danger form-control my-1">@Localizer["Cancel the order"]</button>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <script src="~/js/orders/orderIndex.js"></script>
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('input').on('input', function () {
            $(this).val($(this).val().replace(/^\s+/, ''));
        });
    });
</script>