@{
    ViewData["Title"] = Localizer["ViewOrders"];
}

@{
    var status = Context.Request.Query["status"];
    var approved = "";
    var readyforpickup = "";
    var completed = "";
    var cancelled = "";
    var all = "";

    switch (status)
    {
        case "approved":
            approved = "active text-white bg-secondary";
            break;

        case "readyforpickup":
            readyforpickup = "active text-white bg-secondary";
            break; 
        
        case "completed":
            completed = "active text-white bg-secondary";
            break;

        case "cancelled":
            cancelled = "active text-white bg-secondary";
            break;

        default:
            all = "active text-white bg-secondary";
            break;
    }
}

<style>
    .table {
        margin: 0 auto;
        width: 90%;
    }

    .some-format {
        padding: 10px;
        text-align: center;
        vertical-align: middle;
    }
</style>

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3 d-flex justify-content-between">
        <div class="row">
            <h1 class="text-white">@Localizer["Order List"]</h1>
        </div>
        <ul class="list-group list-group-horizontal-sm pt-2">
            <a style="text-decoration:none" asp-controller="Order" asp-action="OrderIndex" asp-route-status="approved">
                <li class="list-group-item @approved">@Localizer["Approved"]</li>
            </a>
            <a style="text-decoration:none" asp-controller="Order" asp-action="OrderIndex" asp-route-status="readyforpickup">
                <li class="list-group-item @readyforpickup">@Localizer["Readyforpickup"]</li>
            </a> 
            <a style="text-decoration:none" asp-controller="Order" asp-action="OrderIndex" asp-route-status="completed">
                <li class="list-group-item @completed">@Localizer["Completed"]</li>
            </a>
            <a style="text-decoration:none" asp-controller="Order" asp-action="OrderIndex" asp-route-status="cancelled">
                <li class="list-group-item @cancelled">@Localizer["Cancelled"]</li>
            </a>
            <a style="text-decoration:none" asp-controller="Order" asp-action="OrderIndex" asp-route-status="all">
                <li class="list-group-item @all">@Localizer["All"]</li>
            </a>
        </ul>
    </div>

    <div class="card-body p-4">
        <table id="tblData" class="table table-bordered table-striped pt-3" style="width:100%; text-align:center;">
            <thead>
            <tr>
                <th class="some-format" style="text-align: center">@Localizer["Id"]</th>
                <th class="some-format" style="text-align: center">@Localizer["Email"]</th>
                <th class="some-format" style="text-align: center">@Localizer["FirstName"]</th>
                <th class="some-format" style="text-align: center">@Localizer["Phone"]</th>
                <th class="some-format" style="text-align: center">@Localizer["Status"]</th>
                <th class="some-format" style="text-align: center">@Localizer["Total"]</th>
                <th class="some-format" style="text-align: center">@Localizer["Details"]</th>
            </tr>
            </thead>
        </table>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" asp-append-version="true"></script>
<script src="~/js/orders/orderIndex.js" asp-append-version="true"></script>
<script>
    $(document).ready(function () {
        $('input').on('input', function () {
            $(this).val($(this).val().replace(/^\s+/, ''));
        });
    });
</script>