@using System.Globalization
@{
    ViewData["Title"] = @Localizer["Home Page"];
    <link rel="stylesheet" href="~/css/home/homeIndex.css" asp-append-version="true" />
}

<div style="padding: 10px;"></div>

@{
    if (User.Identity.IsAuthenticated)
    {
        <div class="card col-md-12">
            <div class="card-body">
                <h5 class="card-title text-center">@Localizer["Welcome 1"]</h5>
                <small class="card-text">@Localizer["Welcome 2"]</small>
                <small class="card-text">@Localizer["Welcome 3"]</small>
                <small class="card-text">@Localizer["Welcome 4"]</small>
                <p class="card-text"><small class="text-muted">@Localizer["Author"]</small></p>
            </div>
        </div>

        <div style="padding: 10px;"></div>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            @{
                if (User.IsInRole("Administrator"))
                {
                    <div class="col">
                        <div class="card h-100">
                            <img src="https://eda.yandex/images/3472725/9c63d886b068aa80f2a74180b809bfee-400x400.jpeg" alt="@Localizer["Alt 1"]" data-testid="smart-image-img" loading="lazy">
                            <div class="card-body text-center">
                                <h5 class="card-title">@Localizer["Product 1"]</h5>
                                <p class="card-text">
                                    @Localizer["Description 1"]
                                </p>
                            </div>
                            <div class="card-footer text-center">
                                <a asp-controller="Home" asp-action="GetProducts" asp-route-culture="@CultureInfo.CurrentCulture.Name" class="card-link">@Localizer["ProductList"]</a>
                            </div>
                        </div>
                    </div>
                }
            }

            <div class="col">
                <div class="card h-100">
                    <img src="https://eda.yandex/images/3749380/cb72079ede70127406fd3ab20bd0bf73-400x400.jpeg" alt="@Localizer["Alt 2"]" data-testid="smart-image-img" loading="lazy">
                    <div class="card-body text-center">
                        <h5 class="card-title">@Localizer["Product 2"]</h5>
                        <p class="card-text">
                            @Localizer["Description 2"]
                        </p>
                    </div>
                    <div class="card-footer text-center">
                        <a asp-controller="Home" asp-action="GetProducts" asp-route-culture="@CultureInfo.CurrentCulture.Name" class="card-link">@Localizer["ProductList"]</a>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card h-100">
                    <img src="https://eda.yandex/images/3377781/ed6447749d4ea649486f619b2b3a218a-400x400.jpeg" alt="@Localizer["Alt 3"]"
                         class="SmartImage_image SmartImage_coverFitImg SmartImage_visibleImg SmartImage_animatedImg" data-testid="smart-image-img" loading="lazy">
                    <div class="card-body text-center">
                        <h5 class="card-title">@Localizer["Product 3"]</h5>
                        <p class="card-text">
                            @Localizer["Description 3"]
                        </p>
                    </div>
                    <div class="card-footer text-center">
                        <a asp-controller="Home" asp-action="GetProducts" asp-route-culture="@CultureInfo.CurrentCulture.Name" class="card-link">@Localizer["ProductList"]</a>
                    </div>
                </div>
            </div>

            @{
                if (User.IsInRole("Employee"))
                {
                    <div class="col">
                        <div class="card h-100">
                            <img src="https://eda.yandex/images/2783965/98bc932e95accd14040f0e041cb78046-400x400.jpeg" alt="@Localizer["Alt 4"]" data-testid="smart-image-img" loading="lazy">
                            <div class="card-body text-center">
                                <h5 class="card-title">@Localizer["Product 4"]</h5>
                                <p class="card-text">
                                    @Localizer["Description 4"]
                                </p>
                            </div>
                            <div class="card-footer text-center">
                                <a asp-controller="Home" asp-action="GetProducts" asp-route-culture="@CultureInfo.CurrentCulture.Name" class="card-link">@Localizer["ProductList"]</a>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    }

    else
    {
        <div class="card">
            <div class="card-header">
                @Localizer["NotRegistered"]
            </div>
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <p>@Localizer["NotRegisteredDescription"]</p>
                </blockquote>
            </div>
        </div>

        <div style="padding: 10px;"></div>

        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card h-100">
                    <img src="https://eda.yandex/images/3504598/5397bebd78c66a5ccdd0d042411d145f-400x400.jpeg" alt="@Localizer["Alt 5"]" data-testid="smart-image-img" loading="lazy">
                    <div class="card-body">
                        <h5 class="card-title text-center">@Localizer["Product Not registered"]</h5>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">@Localizer["Description 5"]</small>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card h-100">
                    <img src="https://eda.yandex/images/3595513/360fe75e8b8e4c148ec5da89a3d38933-400x400.jpeg" alt="@Localizer["Alt 6"]" data-testid="smart-image-img" loading="lazy">
                    <div class="card-body">
                        <h5 class="card-title text-center">@Localizer["Product Not registered"]</h5>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">@Localizer["Description 6"]</small>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card h-100">
                    <img src="https://eda.yandex/images/3521394/ed581a8b759b44af5295587045ffe23b-400x400.jpeg" alt="@Localizer["Alt 7"]" data-testid="smart-image-img" loading="lazy">
                    <div class="card-body">
                        <h5 class="card-title text-center">@Localizer["Product Not registered"]</h5>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">@Localizer["Description 6"]</small>
                    </div>
                </div>
            </div>
        </div>
    }
}

<script src="~/js/home/homeIndex.js" asp-append-version="true"></script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}