@using PineappleSite.Presentation.Extecsions
@using PineappleSite.Presentation.Models.Paginated
@using PineappleSite.Presentation.Services.Products
@using System.Globalization
@model PaginatedList<PineappleSite.Presentation.Models.Products.ProductViewModel>

@{
    ViewData["Title"] = @Localizer["Products"];
    <link rel="stylesheet" href="~/css/home/getProducts.css" asp-append-version="true"/>
}

<div class="col-12 form-text">
    <form asp-action="GetProducts" asp-route-pageNumber="@Context.Request.Query["pageNumber"]" method="get">
        <div class="form-actions no-color">
            <p class="mb-0">
                <label for="searchProduct" style="font-size:20px; color:white">@Localizer["Search product"]</label>
            </p>
            <div class="input-group mb-3">
                <input type="text" class="form-control" name="searchProduct" id="searchProduct" value="@ViewData["SearchProduct"]"/>
                <div class="input-group-append">
                    <button type="submit" class="btn btn-primary search-button"
                            asp-route-pageNumber="@Context.Request.Query["pageNumber"]"
                            asp-route-searchProduct="@Context.Request.Query["searchProduct"]">
                        @Localizer["Search"]
                    </button>
                    <button type="button" id="clearSearch" class="btn btn-secondary clear-button"
                            asp-route-pageNumber="@Context.Request.Query["pageNumber"]"
                            asp-route-searchProduct="@Context.Request.Query["searchProduct"]">
                        @Localizer["Clear"]
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>

<form>
    <div class="container">
        <div class="row">
            @{
                foreach (var product in Model)
                {
                    <div class="col-12 col-md-6 col-lg-4 d-flex align-items-stretch">
                        <div class="p-0 my-3 border rounded">
                            <div class="card d-flex flex-column h-100">
                                <h3 class="card-title text-black-50 text-center py-2">@(product.Name.Length > 21 ? product.Name[..21] + "..." : product.Name)</h3>
                                <img src="@product.ImageUrl" style="border-radius:35px;" width="400" height="400" class="rounded" alt="@Localizer["Product Image"]" loading="lazy">
                                <div class="card-body d-flex flex-column flex-fill">
                                    <p class="card-text">@Html.Raw(product.Description.Substring(0, Math.Min(product.Description.Length, 16)))...</p>
                                    <div class="d-flex justify-content-between py-2">
                                        <span class="badge bg-warning text-white p-2" style="font-size: 15px">@product.ProductCategory.GetDisplayName()</span>
                                        <span class="badge bg-warning text-white p-2" style="font-size: 15px">@product.Price Byn</span>
                                    </div>
                                    <div class="row mt-auto mb-0">
                                        <div class="col">
                                            <a class="btn btn-primary"
                                               asp-controller="Home"
                                               asp-action="GetProductDetails"
                                               asp-route-id="@product.Id"
                                               asp-route-pageNumber="@Context.Request.Query["pageNumber"]"
                                               asp-route-searchProduct="@Context.Request.Query["searchProduct"]">
                                                @Localizer["View details"]
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
            <div class="pagination">
                @if (Model.HasPreviosPage)
                {
                    <a asp-action="GetProducts"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]"
                       asp-route-pageNumber="@(Model.PageIndex - 1)"
                       asp-route-searchProduct="@Context.Request.Query["searchProduct"]"
                       class="page-item">
                        <span>&laquo; @Localizer["Previous"]</span>
                    </a>
                }

                @for (int i = 1; i <= Model.TotalPages; i++)
                {
                    <a asp-action="GetProducts"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]"
                       asp-route-pageNumber="@i"
                       asp-route-searchProduct="@Context.Request.Query["searchProduct"]"
                       class="page-item @(i == Model.PageIndex ? "active" : "")">
                        <span>@i</span>
                    </a>
                }

                @if (Model.HasNextPage)
                {
                    <a asp-action="GetProducts"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]"
                       asp-route-pageNumber="@(Model.PageIndex + 1)"
                       asp-route-searchProduct="@Context.Request.Query["searchProduct"]"
                       class="page-item">
                        <span>@Localizer["Next"] &raquo;</span>
                    </a>
                }
            </div>
        </div>
    </div>
</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="~/js/home/getProducts.js" asp-append-version="true"></script>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}

<script>
    document.getElementById("clearSearch").addEventListener("click", function () {
        let culture = "@CultureInfo.CurrentCulture.Name";
        window.location.href = document.getElementById("searchForm").action + "?culture=" + culture;
    });
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('input[type="text"]').on('input', function () {
            $(this).val($(this).val().replace(/^\s+/, ''));
        });
    });
</script>