@using PineappleSite.Presentation.Utility
@{
    ViewData["Title"] = @Localizer["Home Page"];
    <link rel="stylesheet" href="~/css/home/homeIndex.css" asp-append-version="true"/>
}

<div style="padding: 10px;"></div>

@{
    if (User.Identity.IsAuthenticated)
    {
        <div class="card col-md-12">
            <div class="card-body">
                <h5 class="card-title text-center">@Localizer["Welcome 1"]</h5>
                <small class="card-text">@Localizer["Welcome 2"]</small>
                <small class="card-text">@Localizer["Welcome 3"]</small>
                <small class="card-text">@Localizer["Welcome 4"]</small>
                <p class="card-text">
                    <small class="text-muted">@Localizer["Author"]</small>
                </p>
            </div>
        </div>

        <div style="padding: 10px;"></div>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            @{
                if (User.IsInRole(StaticDetails.RoleAdmin))
                {
                    <div class="col">
                        <div class="card h-100">
                            <img src="~/images/homeImages/product_1.jpeg" alt="@Localizer["Alt 1"]" data-testid="smart-image-img" loading="lazy">
                            <div class="card-body text-center">
                                <h5 class="card-title">@Localizer["Product 1"]</h5>
                                <p class="card-text">
                                    @Localizer["Description 1"]
                                </p>
                            </div>
                            <div class="card-footer text-center">
                                <a asp-controller="Home" asp-action="GetProducts" asp-route-pageNumber="1" class="card-link">@Localizer["ProductList"]</a>
                            </div>
                        </div>
                    </div>
                }
            }

            <div class="col">
                <div class="card h-100">
                    <img src="~/images/homeImages/product_2.jpeg" alt="@Localizer["Alt 2"]" data-testid="smart-image-img" loading="lazy">
                    <div class="card-body text-center">
                        <h5 class="card-title">@Localizer["Product 2"]</h5>
                        <p class="card-text">
                            @Localizer["Description 2"]
                        </p>
                    </div>
                    <div class="card-footer text-center">
                        <a asp-controller="Home" asp-action="GetProducts" asp-route-pageNumber="1" class="card-link">@Localizer["ProductList"]</a>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card h-100">
                    <img src="~/images/homeImages/product_3.jpeg" alt="@Localizer["Alt 3"]"
                         class="SmartImage_image SmartImage_coverFitImg SmartImage_visibleImg SmartImage_animatedImg" data-testid="smart-image-img" loading="lazy">
                    <div class="card-body text-center">
                        <h5 class="card-title">@Localizer["Product 3"]</h5>
                        <p class="card-text">
                            @Localizer["Description 3"]
                        </p>
                    </div>
                    <div class="card-footer text-center">
                        <a asp-controller="Home" asp-action="GetProducts" asp-route-pageNumber="1" class="card-link">@Localizer["ProductList"]</a>
                    </div>
                </div>
            </div>

            @{
                if (User.IsInRole(StaticDetails.RoleUser))
                {
                    <div class="col">
                        <div class="card h-100">
                            <img src="~/images/homeImages/product_4.jpeg" alt="@Localizer["Alt 4"]" data-testid="smart-image-img" loading="lazy">
                            <div class="card-body text-center">
                                <h5 class="card-title">@Localizer["Product 4"]</h5>
                                <p class="card-text">
                                    @Localizer["Description 4"]
                                </p>
                            </div>
                            <div class="card-footer text-center">
                                <a asp-controller="Home" asp-action="GetProducts" asp-route-pageNumber="1" class="card-link">@Localizer["ProductList"]</a>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    }

    else
    {
        <div class="card">
            <div class="card-header">
                @Localizer["NotRegistered"]
            </div>
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <p>@Localizer["NotRegisteredDescription"]</p>
                </blockquote>
            </div>
        </div>

        <div style="padding: 10px;"></div>

        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card h-100">
                    <img src="~/images/homeImages/product_5.jpeg" alt="@Localizer["Alt 5"]" data-testid="smart-image-img" loading="lazy">
                    <div class="card-body">
                        <h5 class="card-title text-center">@Localizer["Product Not registered"]</h5>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">@Localizer["Description 5"]</small>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card h-100">
                    <img src="~/images/homeImages/product_6.jpeg" alt="@Localizer["Alt 6"]" data-testid="smart-image-img" loading="lazy">
                    <div class="card-body">
                        <h5 class="card-title text-center">@Localizer["Product Not registered"]</h5>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">@Localizer["Description 6"]</small>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card h-100">
                    <img src="~/images/homeImages/product_7.jpeg" alt="@Localizer["Alt 7"]" data-testid="smart-image-img" loading="lazy">
                    <div class="card-body">
                        <h5 class="card-title text-center">@Localizer["Product Not registered"]</h5>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">@Localizer["Description 6"]</small>
                    </div>
                </div>
            </div>
        </div>
    }
}

<script src="~/js/home/homeIndex.js" asp-append-version="true"></script>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}