@model dynamic

@{
    ViewBag.Title = @Localizer["title"];
    Layout = "_Layout";
    <link rel="stylesheet" href="~/css/home/ServicesProvided.css">
}

<form asp-action="ServicesProvided">
    <div class="card shadow border-4 mt-3 mb-md-4">
        <div class="card-header bg-secondary bg-gradient ml-0 py-3">
            <div class="row">
                <div class="col-12 text-center">
                    <h1 class="text-white">@Localizer["Services provided"]</h1>
                </div>
            </div>
        </div>
        <div class="card-body p-4">
            <div class="row pb-3">
                <div class="col-6">
                </div>
            </div>
            <table class="table">
                <thead>
                <tr>
                    <th class="some-format">@Localizer["Service number"]</th>
                    <th class="some-format">@Localizer["Name of the service"]</th>
                    <th class="some-format">@Localizer["Description of the service"]</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="some-format">
                        <strong>1</strong>
                    </td>
                    <td class="some-format">
                        <strong>@Localizer["Calling a taxi to a client(s)"]</strong>
                    </td>
                    <td>
                        <span>@Localizer["Calling Description"]</span>
                    </td>
                </tr>
                <tr>
                    <td class="some-format">
                        <strong>2</strong>
                    </td>
                    <td class="some-format">
                        <strong>@Localizer["Banquet service"]</strong>
                    </td>
                    <td>
                        <span>@Localizer["Banquet service description"]</span>
                    </td>
                </tr>
                <tr>
                    <td class="some-format">
                        <strong>3</strong>
                    </td>
                    <td class="some-format">
                        <strong>@Localizer["Catering"]</strong>
                    </td>
                    <td>
                        <span>@Localizer["Catering description"]</span>
                        <br/>
                        <span>@Localizer["Catering description 2"]</span>
                    </td>
                </tr>
                <tr>
                    <td class="some-format">
                        <strong>4</strong>
                    </td>
                    <td class="some-format">
                        <strong>@Localizer["Conducting musical performances and show programs"]</strong>
                    </td>
                    <td>
                        <span>@Localizer["Conducting musical performances and show programs description"]</span>
                    </td>
                </tr>
                <tr>
                    <td class="some-format">
                        <strong>5</strong>
                    </td>
                    <td class="some-format">
                        <strong>@Localizer["Providing a children's menu and entertainment for children"]</strong>
                    </td>
                    <td>
                        <span>@Localizer["Providing a children's menu and entertainment for children description"]</span>
                    </td>
                </tr>
                <tr>
                    <td class="some-format">
                        <strong>6</strong>
                    </td>
                    <td class="some-format">
                        <strong>@Localizer["Wi-Fi and comfortable working conditions"]</strong>
                    </td>
                    <td>
                        <span>@Localizer["Wi-Fi and comfortable working conditions description"]</span>
                    </td>
                </tr>
                <tr>
                    <td class="some-format">
                        <strong>7</strong>
                    </td>
                    <td class="some-format">
                        <strong>@Localizer["Organization of karaoke parties"]</strong>
                    </td>
                    <td>
                        <span>@Localizer["Organization of karaoke parties description"]</span>
                    </td>
                </tr>
                <tr>
                    <td class="some-format">
                        <strong>8</strong>
                    </td>
                    <td class="some-format">
                        <strong>@Localizer["Wine list"]</strong>
                    </td>
                    <td>
                        <span>@Localizer["Wine list description"]</span>
                    </td>
                </tr>
                <tr>
                    <td class="some-format">
                        <strong>9</strong>
                    </td>
                    <td class="some-format">
                        <strong>@Localizer["Organization of culinary contests and tournaments"]</strong>
                    </td>
                    <td>
                        <span>@Localizer["Organization of culinary contests and tournaments description"]</span>
                    </td>
                </tr>
                <tr>
                    <td class="some-format">
                        <strong>10</strong>
                    </td>
                    <td class="some-format">
                        <strong>@Localizer["Prom and party organization services"]</strong>
                    </td>
                    <td>
                        <span>@Localizer["Prom and party organization services description"]</span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</form>