@using PineappleSite.Presentation.Models.Favourites
@model PineappleSite.Presentation.Services.Favorites.FavouriteResult<FavouriteViewModel>

@{
    ViewData["Title"] = Localizer["Favourite Products"];
}

@{
    if (Model.Data.FavouriteHeader is not null && Model.Data.FavouriteDetails?.Count > 0)
    {
        <form method="post">
            <br />
            <input asp-for="Data.FavouriteHeader.UserId" hidden />
            <input asp-for="Data.FavouriteDetails.First().FavouriteHeaderId" hidden />
            <div class="">
                <div class="card border mt-4 container">
                    <div class="card-header bg-dark text-light ml-0 row ">
                        <div class="col-6">
                            <h3 class="text-success"><i class="bi bi-cart"></i> &nbsp; @Localizer["Favourite"]</h3>
                        </div>
                        <div class="col-6 text-end">
                            <a asp-action="GetProducts" asp-controller="Home" class="btn btn-outline-warning mt-2 btn-sm">@Localizer["Back to Products"]</a>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class=" d-none d-lg-block">
                            <div class="row text-info">
                                <div class="col-lg-2"></div>
                                <div class="col-lg-5">@Localizer["Product Details"]</div>
                                <div class="col-lg-2">@Localizer["Price"]</div>
                                <div class="col-lg-2">@Localizer["Quantity"]</div>
                                <div class="col-lg-1"></div>
                            </div>
                        </div>
                        <hr />
                        @{
                            foreach (var favouriteObj in Model.Data.FavouriteDetails)
                            {
                                <div class="row h-100">
                                    <div class="col-4 col-md-2 text-center py-2">
                                        <img src="@favouriteObj?.Product?.ImageUrl" class="rounded" width="100%" />
                                    </div>
                                    <div class="col-8 col-md-5">
                                        <h5>@favouriteObj?.Product?.Name</h5>
                                        <div style="font-size:11px;">@Html.Raw(favouriteObj?.Product?.Description)</div>
                                    </div>
                                    <div class="col-3 col-md-2 pt-md-4" style="font-size:11px;">
                                        <span style="font-size:17px;">@favouriteObj?.Product?.Price Br</span>
                                    </div>
                                    <div class="col-2 col-lg-1 p-0 pt-lg-4 text-center">
                                        <a asp-action="DeleteProduct" asp-route-productId="@favouriteObj?.ProductId" class="btn btn-sm btn-danger">
                                            <i class="bi bi-trash-fill"></i>
                                        </a>
                                    </div>
                                </div>
                            }
                        }
                        <hr />
                    </div>
                </div>
            </div>
        </form>
    }

    else
    {
        <div class="text-center">
            <h1 class="text-white pt-4">@Localizer["There are no favourite products."]</h1>
            <p class="text-white pb-3">@Localizer["Use the search to find everything you need..."]</p>
        </div>
    }
}