@using PineappleSite.Presentation.Extecsions
@using PineappleSite.Presentation.Models.Products.Enum
@model PineappleSite.Presentation.Models.Products.CreateProductViewModel

@{
    ViewData["Title"] = "Добавить продукт";
}

<form class="container col-7" asp-action="Create">
    <br />
    <div class="container border p-3 card shadow border-4 mt-3 mb-md-4">
        <div class="card-header bg-secondary bg-gradient ml-0 py-3">
            <div class="row">
                <div class="col-12 text-center">
                    <h1 class="text-white">Добавить продукт</h1>
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="row">
                <div class="col-6">
                    <label class="control-label pt-2" style="font-size:20px;">Наименование продукта</label>
                </div>
                <div class="col-6 pb-3">
                    <input class="form-control" asp-for="Name" />
                    <span class="text-danger" asp-validation-for="Name"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <label class="control-label pt-2" style="font-size:20px;">Описание</label>
                </div>
                <div class="col-6 pb-3">
                    <textarea class="form-control" asp-for="Description"></textarea>
                    <span class="text-danger" asp-validation-for="Description"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <label class="control-label pt-2" style="font-size: 20px;">Категория продукта</label>
                </div>
                <div class="col-6 pb-3">
                    <select asp-for="ProductCategory" class="form-control">
                        @{
                            foreach (ProductCategory category in Enum.GetValues(typeof(ProductCategory)))
                            {
                                <option value="@category">@category.GetDisplayName()</option>
                            }
                        }
                    </select>
                    <span asp-validation-for="ProductCategory" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <label class="control-label pt-2" style="font-size:20px;">Стоимость</label>
                </div>
                <div class="col-6 pb-3">
                    <input class="form-control" asp-for="Price" />
                    <span class="text-danger" asp-validation-for="Price"></span>
                </div>
            </div>
            <div class="col-5 offset-1">
                <a class="btn-primary btn form-control" asp-action="GetProducts">Вернуться назад</a>
            </div>
            <div class="col-5">
                <input type="submit" value="Добавить" class="btn btn-success form-control" />
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

@* <div class="form-group">
    <label asp-for="ProductCategory" class="control-label"></label><br />
    @foreach (var value in Enum.GetValues(typeof(PineappleSite.Presentation.Models.Products.Enum.ProductCategory)))
    {
        <div class="form-check">
            <input class="form-check-input" type="radio" asp-for="ProductCategory" value="@value" id="@($"ProductCategory_{value}")">
            <label class="form-check-label" for="@($"ProductCategory_{value}")">
                @value
            </label>
        </div>
    }
    <span asp-validation-for="ProductCategory" class="text-danger"></span>
</div> *@