@using PineappleSite.Presentation.Models.Paginated
@model PaginatedList<PineappleSite.Presentation.Models.Products.ProductViewModel>

@{
    ViewData["Title"] = "Список продуктов";
    <link rel="stylesheet" href="~/css/products/productList.css" asp-append-version="true" />
}

<div class="col-12 form-text">
    <form asp-action="GetProducts" method="get">
        <div class="form-actions no-color">
            <p class="mb-0">
                <label for="searchProduct">Поиск продукта:</label>
            </p>
            <div class="input-group mb-3">
                <input type="text" class="form-control" name="searchProduct" id="searchProduct" value="@ViewData["SearchProduct"]" />
                <div class="input-group-append">
                    <button type="submit" class="btn btn-primary search-button">Поиск</button>
                    <button type="button" id="clearSearch" class="btn btn-secondary clear-button">Очистить</button>
                </div>
            </div>
        </div>
    </form>
</div>
<form id="deleteSelectedForm" asp-action="DeleteProductList" onsubmit="return confirm('Вы действительно хотите удалить данные записи?')" method="post">
    <div class="card shadow border-4 mt-3 mb-md-4">
        <div class="card-header bg-secondary bg-gradient ml-0 py-3">
            <div class="row">
                <div class="col-12 text-center">
                    <h1 class="text-white">Список продуктов</h1>
                </div>
            </div>
        </div>
        <div class="card-body p-4">
            <div class="row pb-3">
                <div class="col-6">
                </div>
                <div class="col-6 text-end">
                    <a asp-action="Create" class="btn btn-outline-primary"><i class="bi bi-plus-square"></i> Добавить новый продукт</a>
                    <br />  <br />
                    <button id="deleteAllButton" type="submit" class="btn btn-danger" style="display:none;" form="deleteSelectedForm">Удалить выбранные</button>
                    <div class="col-12 form-text">
                    </div>
                </div>
            </div>
            <table class="table text-center">
                <thead>
                    <tr>
                        <th></th>
                        <th>Идентификатор</th>
                        <th>Наименование</th>
                        <th>Описание</th>
                        <th>Категория</th>
                        <th>Стоимости продукта</th>
                        <th>Детали</th>
                        <th>Обновление</th>
                        <th>Удаление</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int itemCount = 0;
                    }
                    @{
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <input type="checkbox" name="selectedProducts" value="@item.Id" />
                                </td>
                                <td>@item.Id</td>
                                <td>@item.Name</td>
                                <td>@item.Description</td>
                                <td>@item.ProductCategory</td>
                                <td>@item.Price</td>
                                <td>
                                    <a class="btn btn-sm btn-success" asp-action="Details" asp-route-id="@item.Id">Детали</a>
                                </td>
                                <td>
                                    <a class="btn btn-sm btn-success" asp-action="Edit" asp-route-id="@item.Id">
                                        <i class="bi bi-pencil-square"></i>
                                    </a>
                                </td>
                                <td>
                                    <form asp-action="Delete" asp-route-id="@item.Id" style="display:inline;"
                                          onsubmit="return confirm('Вы действительно хотите удалить данную запись?')" method="post">
                                        <button type="submit" class="btn btn-sm btn-danger d-inline">Удалить</button>
                                    </form>
                                </td>
                            </tr>
                            itemCount++;
                        }
                    }
                </tbody>
            </table>
            <div class="pagination">
                @if (Model.HasPreviosPage)
                {
                    <a asp-action="GetProducts"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]"
                       asp-route-searchUser="@ViewData["SearchUser"]"
                       asp-route-pageNumber="@(Model.PageIndex - 1)"
                       class="page-item">
                        <span>&laquo; Назад</span>
                    </a>
                }
                @if (Model.HasNextPage)
                {
                    <a asp-action="GetProducts"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]"
                       asp-route-searchUser="@ViewData["SearchUser"]"
                       asp-route-pageNumber="@(Model.PageIndex + 1)"
                       class="page-item">
                        <span>Вперед &raquo;</span>
                    </a>
                }
            </div>
        </div>
    </div>
</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="~/js/products/productList.js" asp-append-version="true"></script>